
.relInpfeedBack {width:266px; height:21px; padding-top:1px; padding-bottom:1px; margin-right:3px; line-height:21px; border:#bebebe 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; float:left; display:inline; }

.relInpfeedBackhover {width:266px; height:21px; padding-top:1px; padding-bottom:1px; margin-right:3px; line-height:21px; border:#e7a134 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; float:left; display:inline; }


.relInpDetail {width:266px; height:21px; padding-top:1px; padding-bottom:1px; line-height:21px; border:#bebebe 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; display:inline; }


.relInpDetailhover {width:266px; height:21px; padding-top:1px; padding-bottom:1px; line-height:21px; border:#e7a134 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; display:inline; }


#Sex,#ImgCode{ float:left; display:inline; margin-right:8px;}

#feedbackCode { margin-bottom:10px; margin-top:8px; }
#feedbackCode td { height:23px; line-height:23px; padding-top:5px;}
#feedbackCode .red { color:#FF0000; padding:0 3px 0 3px; }
#feedbackCode .titleTd { text-align:right; padding-right:6px; font-weight:normal; width:82px;   line-height:23px; height:30px;}
#feedbackCode .titleTd *{ font-weight:normal;}
#feedbackCode  button { cursor:pointer;}

.relInpfeedBackAdd {width:280px; height:21px; padding-top:1px; padding-bottom:1px; line-height:21px; border:#bebebe 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; float:left; display:inline; margin-right:8px;}
.relInpfeedBackAddhover {width:280px; height:21px; padding-top:1px; padding-bottom:1px; line-height:21px; border:#e7a134 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; float:left; display:inline; margin-right:8px;}


.relInpAdd{width:266px; height:21px; padding-top:1px; padding-bottom:1px; margin-right:3px; line-height:21px; border:#bebebe 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; float:left; display:inline; }

.relInpAddhover{width:266px; height:21px; padding-top:1px; padding-bottom:1px; margin-right:3px; line-height:21px; border:#e7a134 1px solid; padding-left:4px; background:url(/public/images/inputbg.gif) no-repeat left top; float:left; display:inline; }

.tdFDetail{ padding-left:6px;}
#relDes {width:180px; height:92px; margin-bottom:1px; padding:0; padding-left:41px; background:url(/public/images/msgjiantou.png) left center no-repeat;  float:left;}
#relDes ul {width:176px; height:84px; padding:3px 0;}
#relDes ul li {width:158px; height:21px; padding:0; cursor:pointer; line-height:21px;padding:0 0 0 18px; height:21px; text-decoration:none; display:block;}
#relDes ul li.hover {background:url(/public/images/relDes.gif) 0 no-repeat; color:#ffa200;padding:0 0 0 18px; }

.SexId { height:24px; line-height:22px; margin-left:3px;   FONT-FAMILY:Verdana, Arial,"宋体";}

.noSele{ width:39px; height:26px;  float:left; margin-right:5px;}
.noSele *{ line-height:24px;}
.noSeleok{ background:#93c4c0; color:#fff; margin-right:5px; width:37px;  float:left; height:24px; border:1px solid #7db9b4;}
.noSeleok *{ color:#fff;line-height:22px;}

.yesSele{ width:62px; height:26px; float:left; margin-right:5px;}
.yesSele *{ line-height:24px;}
.yesSeleok{ background:#e1ab5e; float:left; color:#fff;width:60px;margin-right:5px; height:24px; border:1px solid #daa962;}
.yesSeleok *{ color:#fff;line-height:22px;}

.errorDiv{ height:24px; border:#CC0000 solid 1px; text-align:center; padding:0 2px; line-height:24px; float:left;  color:#CC0000; font-weight:bold; overflow:hidden;}
.yesandSele{ width:384px; padding-left:9px; padding-right:0px; height:26px; background:url(/public/images/zsbg.gif) no-repeat; float:left; }
#feedbackCode label{ cursor:pointer; padding-left:2px;}
.yesandSele *{ line-height:24px;}
#allSeleZs{ width:509px; float:left; overflow:hidden; height:26px;}
.feedbackSubmit{background:url(/public/images/feedbut.png) no-repeat center; height:36px; width:126px;line-height:35px; border:0px;  cursor:pointer; padding-left:40px; font-size:15px; color:#fff; font-weight:bold;}

