@import url("/public/brandZt/css/pub.css");
@import url("/public/css/messnotice.css");

#header{ width:984px; height:73px; overflow:hidden;}
.logo{ width:120px; height:60px; overflow:hidden; float:left; display:inline; margin:13px 0 0 3px;}
.hLink{ height:38px; overflow:hidden; float:right; }
.hLink li{ height:30px; float:left; display:inline; color:#c7c7c7;border-right:1px solid #999; padding:0 13px; padding-top:8px;}
.hLink li a{ color:#c7c7c7;}
.hLink li.pph2{ width:78px; height:38px; overflow:hidden; background:url(/public/brandzt/images/pph.jpg); border:none; padding:0px; margin-left:13px;}
.hLink li.pph2 a{width:78px; height:38px; overflow:hidden; display:block; padding:0;}
#fxdiv{ width:700px; height:22px; overflow:hidden; text-align:right; float:right; color:#959595; margin-top:10px;}
#fxdiv ul{ width:90px; padding-left:510px; padding-bottom:3px; float:left; height:19px; text-align:right;}
#fxdiv p{ width:70px; float:right; height:18px; padding-top:3px; overflow:hidden; text-align:right; float:right; }
#fxdiv a{ color:#959595; line-height:18px;}

#mainNav{ width:984px; height:38px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) 0 0; margin-top:15px; margin-bottom:1px;}
#mainNav ul{}
#mainNav ul li{width:109px; height:38px; float:left; display:inline;}
#mainNav ul li a{width:100px; height:30px; display:block; color:#d7d7d7; font-size:14px; text-align:center; margin:0 auto; padding-top:8px;}
#mainNav ul li.hover a{background:url(/public/brandzt/images/menuhover.jpg) center; font-weight:bold; color:#dea853;}
#mainNav ul li a:hover{ background:url(/public/brandzt/images/menuhover.jpg) center;}

#conBg{ width:984px; height:auto; background:#fff; padding:7px 0;}
#bigwzq{ width:970px; height:auto; overflow:hidden; background:url(/public/brandzt/images/bpicbg.png) no-repeat right top;}

#commDiv{ width:970px; height:auto; overflow:hidden; margin-top:7px;}
#commDiv.shopbg{ background:url(/public/brandzt/images/shopbg.png) no-repeat;}
#commDiv.contact{ border-bottom:1px solid #dbdbdb; padding-bottom:1px;}
#aboutL{ width:664px; height:417px; overflow:hidden; float:left; margin-top:6px; position:relative;}
.aboutTit{ width:664px; height:58px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) 0 -182px;}
#ztPList { margin-top:0px; width:958px; height:33px; background:#fff; padding-bottom:10px;}

.jp-container{width:653px;height:334px;position:relative;float:left; margin-top:12px; background:url(/public/brandzt/images/yh1.png) no-repeat 0 0px;}
.jp-container span{padding:5px 46px 0 33px;display:block; line-height:196%; font-size:14px;}

.jp-container a{padding:15px 20px;display:block;background-color:#fff;border-bottom:1px solid #F2F4F8;border-top:1px solid #D8DFEA;}
.jp-container a:first-child{border-top:none;}
.jp-container a:last-child{border-bottom:none;}
.jp-container a:hover{background:#ECEFF5;border-bottom-color:#ECEFF5;}
.jp-container a h3{ font-size:14px;font-weight:bold;padding:2px 0 5px 0;text-transform:uppercase;}
.jp-container a img{float:left;margin:5px 10px 0px 0px;padding:3px;background:#fff;border:1px solid #D8DFEA;}



#aboutR{ width:306px; height:409px; overflow:hidden; float:right; background:url(/public/brandzt/images/focusBg.png) no-repeat;}

#focusPic{ width:283px; height:332px;   overflow:hidden; margin-top:63px; position:relative;}

#focusPic dl{ width:283px; height:33px; overflow:hidden;  position:absolute; left:0px; bottom:0px;}
#focusPic dl dt{ width:160px; height:22px; overflow:hidden; margin:6px 8px 0 20px; float:left; display:inline;}
#focusPic dl dt a{ font-size:14px; color:#fff; font-weight:bold; font-family:微软雅黑;}
#focusPic dl dd{ width:26px; height:15px; overflow:hidden; float:left; display:inline; background:#000; text-align:center; line-height:15px; color:#fff; margin:10px 0 0 3px; cursor:pointer;}
#focusPic dl dd.hover{ background:#d66d07;font-weight:bold;}
#focusPic dl.btnBg{background:#000; filter:alpha(opacity=58); opacity:0.5;}
#focusPic dl.btnDiv{}
#focusPic dl dt { color:#fff;font-size:14px; color:#fff; font-weight:bold; font-family:微软雅黑;}

.tbarbox{ background:url(/public/brandzt/images/yinR.png) no-repeat 570px 300px;}
.tbarbox,.tbarcon{width:604px;} /*设置区域宽度*/
.tbarbox,.tbarcon,.tbar{height:330px;} /*设置区域高度*/
.tbarbox{overflow:hidden;position:absolute;left:5px; top:70px;}
.tbarcon{overflow:hidden;overflow-y:auto;padding-right:10px;font-size:13px;line-height:30px; color:#373737; font-size:14px; background:url(/public/brandzt/images/yinL.png) no-repeat left top;}
.tbar{position:absolute;top:0px;right:0px;overflow:hidden;width:18px;}
.tbar i{position:absolute;top:0px;overflow:hidden;display:block;width:1px;right:8px;height:100%;background:#d3941a;} /*设置滚动条背景线*/
.tbar b{position:absolute;top:0px;overflow:hidden;display:block;width:7px;right:5px;cursor:pointer;background:#d3941a;} /*设置滚动条滚动块*/

.commTit{ width:970px; height:40px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) 0 -125px; margin-top:12px;}
.commTit a { width:118px; height:40px;  display:block;}

.titLogo{ width:220px; height:40px; overflow:hidden; float:left; background:url(/public/brandzt/images/zt2013bg.png) 0 -259px;}

#proList{ width:970px; height:462px; overflow:hidden; background:url(/public/brandzt/images/xdashed.png); margin-top:12px;}
#bgfff{ width:946px; height:219px; overflow:hidden; background:#fff; margin-top:8px; padding-left:10px;}
#bgfff dl{ width:168px; height:204px; overflow:hidden; float:left; display:inline; background:url(/public/brandzt/images/line.png) no-repeat right top; margin:7px 5px 0 13px;}
#bgfff dl.morepro{ width:189px; height:212px;}
#bgfff dl.enddl{ background:none;}
#bgfff dl dt{ width:142px; height:177px;  overflow:hidden; }
#bgfff dl dd{ width:142px; height:23px;  overflow:hidden; text-align:center;}
#bgfff dl dd a{FONT: 12px/23px Microsoft YaHei,tahoma,arial,宋体; color:#333;}
#joinL{ width:117px; height:408px; overflow:hidden; float:left; background:#737373 url(/public/brandzt/images/flower.png)  no-repeat left bottom;}
#joinL dl{ width:101px; height:auto; overflow:hidden; margin:0 auto; margin-top:12px;}
#joinL dl dt{ width:101px; height:auto; overflow:hidden; color:#fff; line-height:176%;}
#joinL dl dd{ width:101px; height:25px; overflow:hidden; margin-top:5px;}

#joinR{ width:829px; height:396px; overflow:hidden; float:right; background:url(/public/brandzt/images/xdashed.png); padding:6px;}

.tbarbox2,.tbarcon2{width:829px; background:#fff; padding:0 5px; height:399px;}

#jp-container2{ background:#fff; width:829px; height:396px; padding-bottom:6px;}
#jp-container2 span{padding:12px 26px 0px 15px}

 
.tbar2{ height:320px; margin-top:5px;} /*滚动条高度*/
.tbarbox2{overflow:hidden;position:absolute; left:6px; top:7px;}
.tbarcon2{ height:320px; overflow:hidden;overflow-y:auto; font-size:13px;line-height:30px; color:#373737; font-size:14px; }
.tbar2{position:absolute;top:0px;right:0px;overflow:hidden;width:18px;}
.tbar2 i{position:absolute;top:0px;overflow:hidden;display:block;width:1px;right:8px;height:100%;background:#d3941a;} /*设置滚动条背景线*/
.tbar2 b{position:absolute;top:0px;overflow:hidden;display:block;width:7px;right:5px;cursor:pointer;background:#d3941a;} /*设置滚动条滚动块*/

#divly{width:1px; height:1px; overflow:hidden;}
.commTit2{ width:970px; height:34px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) 0 -317px; margin-top:12px;}
.commTit2 a { width:118px; height:40px;  display:block;}
.morea{ width:70px; height:20px; overflow:hidden; background:#d3941a; padding-left:10px; text-align:center; display:block; float:right; margin-top:4px;}
.morea a{ color:#fff;}
.titLogo2{ width:220px; height:40px; overflow:hidden; float:left; background:url(/public/brandzt/images/zt2013bg.png) 0 -371px;}

.titLogo2.contact{ background-position:-255px -371px;}

#demo {width:930px; overflow:hidden; margin-top:16px;}
#demo img { padding:0 6px; background:url(/public/brandzt/images/dashed5.png) repeat-y left top;}

#contactL{ width:664px; height:656px; overflow:hidden; float:left;}
#contactR{ width:294px; height:auto; overflow:hidden; float:right; background:url(/public/brandzt/images/dashed10.png); padding-bottom:7px;}

#contactRcon{ width:287px; height:auto; overflow:hidden; float:right; background:#fff; padding-bottom:8px;}
.ppLogo{ width:261px; height:83px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -148px -586px; text-align:center; padding-top:8px; margin:0 auto;}
#linkadd{ width:280px; height:auto; overflow:hidden; line-height:200%; margin:8px 0 0 13px;}
#linkadd ul { height:auto; width:280px; float:left; display:inline; padding:3px 0 3px 0;}
#linkadd ul li{ height:auto; line-height:18px; float:left;}
#linkadd ul li.oneLi { width:65px; color:#838383; }
#linkadd ul li.twoLi { width:215px;}
#linkadd a{ color:#FF6600; text-decoration:underline; line-height:150%;}

.zjfeed{ width:286px; height:auto; overflow:hidden; margin:5px 0 0 1px; }
.zjfeed dt{ width:254px; height:21px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -458px -534px; padding:2px 0 0 32px;}
.zjfeed dt { color:#d3941a; font-weight:bold;font-size:14px;}
.zjfeed dd{ width:261px; height:24px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -458px -578px; padding-left:25px; margin-top:5px;}
.zjfeed dd span{ color:#d3711a;}

#sameproDiv{ width:970px; height:159px; overflow:hidden; background:url(/public/brandzt/images/alpha.png); margin-top:8px;}
.sameLogo{ width:119px; height:159px; overflow:hidden; float:left; background:url(/public/brandzt/images/zt2013bg.png) 0 -423px;}
#sameproList{ width:738px; height:144px;  overflow:hidden; float:left; display:inline; margin:7px 0 0 8px;}
#sameproList dl{ width:160px; height:136px; overflow:hidden; background:#fff; float:left; display:inline; padding:3px 8px;  margin-right:10px;}
#sameproList dl.enddl{ margin-right:0px; float:right;}
#sameproList dl dt{ width:160px; height:110px; overflow:hidden;}
#sameproList dl dd{ width:160px; height:22px; overflow:hidden; text-align:center;}

.pph{ width:88px; height:144px; overflow:hidden; float:right; display:inline; background:url(/public/brandzt/images/zt2013bg.png) -149px -423px; margin:7px 6px 0 0;}
.pph a{width:88px; height:144px; display:block;}

#brandL{ width:638px; height:auto; overflow:hidden; float:left;}
#brandL dl{ width:636px; height:92px; overflow:hidden; border:1px solid #e8e8e8; margin-bottom:10px;}
#brandL dl dt{ width:585px; height:30px; overflow:hidden; margin:0 auto; background:url(/public/brandzt/images/zt2013bg.png) -255px -250px; padding-left:15px; margin-top:7px;}
#brandL dl dt span{ color:#6f6f6f;}
#brandL dl dt a{ font-family:微软雅黑; font-weight:bold; font-size:14px;}
#brandL dl dd{ width:585px; height:auto; overflow:hidden; margin:0 auto; padding-left:15px; margin-top:5px;}
#brandL dl dd a{ color:#cc7300;}

#brandR{ width:290px; height:611px; overflow:hidden; float:right; background:#f1f1f1 url(/public/brandzt/images/shadow.png) no-repeat left center; padding:4px 0 0 22px;}
.newsTit{ width:284px; height:29px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -458px -423px; padding:1px 0 0 20px;}
.newsTit.mart{ margin-top:10px;}
.newsTit a{ font-size:14px; font-weight:bold; color:#fff;}

.tradeList{ width:284px; height:auto; overflow:hidden;}
.tradeList li{ width:284px; height:22px; float:left; display:inline; overflow:hidden; margin-top:4px; }
.tradeList li span{ width:18px; height:13px; line-height:13px; color:#fff; text-align:center; margin-top:4px; display:block; float:left; background:url(/public/brandzt/images/zt2013bg.png) -458px -502px;}
.tradeList li span.hover{ background-position: -458px -476px;}
.tradeList li a{ float:left; display:inline; margin-left:8px;}
.onead{ width:283px; height:111px; overflow:hidden; border:1px solid #d6d6d6; padding:1px; background:#fff; margin-top:5px;}

.brandList{ width:284px; height:auto; overflow:hidden;}
.brandList li{ width:75px; height:22px; overflow:hidden; float:left; display:inline; background:url(/public/brandzt/images/zt2013bg.png) -529px -467px; padding-left:15px; margin:0px 0 0 3px; padding-top:3px;}

#sspp{ width:970px; height:136px; overflow:hidden; border-top:4px solid #976600; background:url(/public/brandzt/images/alpha.png);}
.ssppLogo{ width:121px; height:135px; overflow:hidden; float:left; background:url(/public/brandzt/images/zt2013bg.png) -255px -423px;}

#ssppList{ width:833px; height:119px; overflow:hidden; float:left; display:inline; background:#fff; border-left:1px solid #969696; border-top:1px solid #969696; margin:8px 0 0 7px;}
#ssppList dl{ width:247px; height:107px; overflow:hidden; float:left; display:inline; background:url(/public/brandzt/images/dashed5.png) repeat-y right top; margin:7px 0 0 20px;}
#ssppList dl.enddl{ background:none;}
#ssppList dl dd{ width:235px; height:22px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -529px -494px; padding-left:12px; margin-top:4px;}

#footLink{ width:970px; height:25px; overflow:hidden; background:url(/public/brandzt/images/footbg.gif) repeat-x;text-align:center; color:#fff; padding-top:4px; margin-top:8px;}
#footLink a{ color:#fff;}
#footLink span { color:#eee; padding-left:10px; padding-right:10px;}
#copyRig{ width:970px; height:auto; overflow:hidden; text-align:center; margin-top:8px;}
#copyRig ul { width:970px; height:25px; text-align:center;}
#copyRig ul li{ height:25px; line-height:21px; float:left;}
#copyRig ul li.oneLi{ text-align:right; width:650px;}
#copyRig ul li.twoLi {text-align:left; width:300px; padding-left:10px;}
.commTitneZt{ width:970px; height:40px;  overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) 0 -687px; margin-top:12px;}
.moreane{ height:20px; overflow:hidden;color:#d3941a; text-align:center; float:right; margin:3px 50px 0 0;}

.titLogone{ width:220px; height:40px; overflow:hidden; float:left;}
.titLogone.join{ background:url(/public/brandzt/images/zt2013bg.png) 0 -745px;}
.titLogone.product{ background:url(/public/brandzt/images/zt2013bg.png) -285px -745px;}
.titLogone.proshow{ background:url(/public/brandzt/images/zt2013bg.png) -557px -745px;}
.titLogone.cxpro{ background:url(/public/brandzt/images/zt2013bg.png) 0px -800px;}
.titLogone.qdpro{ background:url(/public/brandzt/images/zt2013bg.png) -285px -800px;}
.titLogone.trade{ background:url(/public/brandzt/images/zt2013bg.png) -557px -800px;}
.titLogone.news{ background:url(/public/brandzt/images/zt2013bg.png) -458px -626px;}
.titLogone.shop{ background:url(/public/brandzt/images/zt2013bg.png) -720px -626px;}

#xxBord{ width:970px; height:auto; overflow:hidden; background:url(/public/brandzt/images/dashed11.png); padding:6px 0; margin-top:8px;}
#conDiv{ width:938px; height:auto; overflow:hidden; background:#fff; padding:10px; font-size:14px; line-height:180%;}
#conDiv a{ font-size:14px; line-height:180%;}
#conDiv span { color:#BF8015; font-weight:bold; font-size:14px;}

#conDiv dl{ width:142px; height:177px; overflow:hidden; border:1px solid #e5e5e5; padding:1px; float:left; display:inline; position:relative; margin:0 22px 15px 19px;}
#conDiv dl dt{ width:142px; height:177px; overflow:hidden;}
#conDiv dl dd{ width:142px; height:20px; overflow:hidden; position:absolute; left:1px; bottom:1px; text-align:center;}
#conDiv dl dd a{ color:#fff; font-size:12px;}
#conDiv dl dd.wbg{ background:#000; filter:alpha(opacity=50); opacity:0.5;}

#listDiv{width:958px; height:auto; overflow:hidden; background:#fff; padding-bottom:20px;}
#listDiv dl{ width:936px; height:115px; overflow:hidden; margin:0 auto; margin-top:10px; background:url(/public/brandzt/images/dashed2.png) repeat-x left bottom;}
#listDiv dl dt{ width:900px; height:22px; overflow:hidden; margin:0 auto; font-family:微软雅黑; background:url(/public/brandzt/images/zt2013bg.png) 0 -860px; padding-left:15px;}
#listDiv dl dt a{ font-family:微软雅黑; font-size:14px; font-weight:bold;}
#listDiv dl dt a.cate{ color:#d3941a}
#listDiv dl dd{ width:880px; height:70px; overflow:hidden; text-indent:2em; margin:0 auto; margin-top:8px; line-height:200%;}



#tradeConDiv{width:958px; height:auto; overflow:hidden; background:#fff; padding-bottom:10px;}
#tradeConDiv dl{ width:920px; height:auto; padding-bottom:12px; overflow:hidden; margin:0 auto; margin-top:10px; background:url(/public/brandzt/images/dashed2.png) repeat-x left bottom;}
#tradeConDiv dl dt{ width:875px; height:22px; overflow:hidden; margin:0 auto; font-family:微软雅黑; background:url(/public/brandzt/images/zt2013bg.png) 0 -860px; padding-left:15px;}
#tradeConDiv dl dt a{ font-family:微软雅黑; font-size:14px; font-weight:bold;}
#tradeConDiv dl dt a.cate{ color:#d3941a}
#tradeConDiv dl dd{ width:880px; height:auto; overflow:hidden; text-indent:2em; margin:0 auto; margin-top:8px; line-height:200%;}
#tradeConDiv dl dd a{ color:#CC0000;}
#proShow{ width:921px; height:auto; border-top:5px solid #151515;border-bottom:5px solid #151515; overflow:hidden;  margin-top:8px; padding:6px; background:#151515 url(/public/brandzt/images/proshowbg.gif) repeat-y ;}
#proShowL{ width:535px; height:auto; overflow:hidden; float:left; display:inline;}
#proNameDiv{ width:535px; height:30px; overflow:hidden; text-align:center; background:url(/public/brandzt/images/dashed8.png) repeat-x left bottom; font-family:微软雅黑; font-size:18px; color:#fff; margin-top:7px;}

#proShowR{ width:380px; height:auto; overflow:hidden; float:right;}
.tujiTit{ width:367px; height:34px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -566px -68px; padding:2px 0 0 13px; float:right;}
.tujiTit a{ color:#fff; font-size:14px; font-family:微软雅黑;}

#tujiCon{ width:373px; height:auto; overflow:hidden; float:right; background:#fff;}
#tujiCon dl{ width:377px; height:290px; overflow:hidden;}
#tujiCon dl dt{ width:101px; height:126px; overflow:hidden; float:left; display:inline; border:1px solid #d5d5d5; padding:1px; margin:10px 0 0 16px;}
#tujiCon dl dt.hover{ border:2px solid #d3941a; padding:0px;}

#tujiBtn{ width:354px; height:30px; overflow:hidden; margin-top:10px;}
#tujiBtn p{ width:103px; height:30px; overflow:hidden;   float:left;}
#tujiBtn p img { cursor:pointer;}
#tujiBtn p.fx{ width:103px; height:30px; overflow:hidden;   float:left;}
#tujiBtn p.btnR{ float:right;}
.projsTit{ width:331px; height:28px;color:#fff; font-family:微软雅黑; font-size:14px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -566px -371px; padding-left:42px; margin-top:12px;}
.projsTit a{ color:#fff; font-family:微软雅黑; font-size:14px;}
.prosxDetail{ width:345px; height:auto; overflow:hidden;line-height:200%; padding:5px 0;}
.prosxDetail ul { width:345px; height:auto;  overflow:hidden;}
.prosxDetail ul li { width:172px; height:auto; border-bottom:dashed 1px #ccc; padding-bottom:3px; padding-top:3px;float:left; line-height:21px; overflow:hidden;}

.proDetail{ width:345px; height:auto; overflow:hidden;TEXT-INDENT: 2em; line-height:200%; padding:3px 0;}


#shopShow{ width:958px; height:auto; overflow:hidden;  border-top:6px solid #151515;border-bottom:6px solid #151515;  background:#151515 url(/public/brandzt/images/shopshowbg.gif) repeat-y; margin-top:8px; padding:6px;}
#shopShowL{ width:710px; height:auto; overflow:hidden; float:left; display:inline;}
#shopNameDiv{ width:710px; height:30px; overflow:hidden; text-align:center; background:url(/public/brandzt/images/dashed8.png) repeat-x left bottom; font-family:微软雅黑; font-size:18px; color:#fff; margin-top:7px;}

#picArea{ width:686px; height:auto; overflow:hidden; text-align:center; padding:20px 0;}
#shopDetail{ width:650px; height:auto; overflow:hidden; color:#fff; text-indent:2em; color:#bbb; padding:0 18px; background:url(/public/brandzt/images/dashed8.png) repeat-x left top; padding:10px 0;}
#shopDetail a { color:#FF9900;}
#shopShowR{ width:224px; height:auto; overflow:hidden; float:right;}
.picTit{ width:214px; height:33px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) 0 -900px;color:#fff; font-size:14px; font-weight:bold; padding:4px 0 0 10px; float:right;}
.picTit a{ color:#fff; font-size:14px; font-weight:bold;}



.prevIcon {
	Z-INDEX: 5; POSITION: absolute; FILTER: alpha(opacity=50); WIDTH: 80px; DISPLAY: none; HEIGHT: 80px; left:-0px;TOP: 375px; CURSOR: pointer; -moz-opacity: 0.5; opacity: 0.5; background:url(/public/brandzt/images/zt2013bg.png) -780px -534px;
}
.nextIcon {
	Z-INDEX: 5; POSITION: absolute; FILTER: alpha(opacity=50); WIDTH: 80px; DISPLAY: none; right:8px; HEIGHT: 80px; TOP: 375px; CURSOR: pointer; -moz-opacity: 0.5; opacity: 0.5; background:url(/public/brandzt/images/zt2013bg.png) -870px -534px;
}

.picArea {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; WIDTH: 940px; PADDING-RIGHT: 25px; CLEAR: both; PADDING-TOP: 0px
}

.picture {
	POSITION: relative; TEXT-ALIGN: center; background:url(/public/image/bsload.gif) center no-repeat; MARGIN: 0px auto; MIN-HEIGHT: 500px; WIDTH: 540px; ZOOM: 1; VERTICAL-ALIGN: middle; _height: 500px; float:left; 
}
.picture IMG.loading {
	MARGIN: 242px auto
}
#thumbnail img { cursor:pointer;}

.tzInof{ width:261px; height:auto; overflow:hidden; margin:0 auto;}
.tzInof li{ width:261px; height:25px;  font-size:14px;overflow:hidden; float:left; display:inline; margin-top:3px;}
.tzInof li span{color:#838383;font-size:14px;}
.tzInof li.short{ width:120px;}
.tzInof li.fr{ float:right;}

.kslistDiv{ width:268px; height:70px; overflow:hidden; margin-top:9px;}
.ksf{ width:27px; height:70px; float:left; background:url(/public/brandzt/images/zt2013bg.png) 0px -1019px; FONT: 14px Microsoft YaHei,tahoma,arial,宋体;  color:#fff; padding:15px 0 0 9px;}
.ksrdiv{ width:231px; height:65px; overflow:hidden; float:right; border:1px solid #e4e4e4; border-left:none; margin-top:3px;}
.ksrdiv ul{ width:215px; height:65px; overflow:hidden; float:left; display:inline; margin:0 0 0 12px; background:url(/public/brandInfo/images/dashedh.png);}
.ksrdiv ul li{ width:58px; height:24px; overflow:hidden; float:left; display:inline; margin:8px 19px 0 0;}
.ksrdiv ul li.nomar{ margin-right:0px; float:right;}
.ksrdiv ul li a{ font-size:14px;}
.ksTit{ width:268px; height:23px; overflow:hidden; background:url(/public/brandzt/images/zt2013bg.png) -732px -899px; margin-top:12px;}
.ksTit a{width:268px; height:23px; display:block;}

.messldiv{ width:664px; height:97px; overflow:hidden;}
.messlleft{ width:114px; height:82px; overflow:hidden; float:left; background:url(/public/brandzt/images/zt2013bg.png) 0 -586px; text-align:center; FONT: 12px/23px Microsoft YaHei,tahoma,arial,宋体; padding-top:15px;}
.messlleft span{FONT: 14px/23px Microsoft YaHei,tahoma,arial,宋体; font-weight:bold; color:#e39433;}
.messrBord{ width:544px; height:95px; overflow:hidden; float:right; border:1px solid #d7d7d7;}

#joinList{ width:520px; height:90px; overflow:hidden; margin-top:3px;}
#joinList ul{ width:520px;  height:auto;}
#joinList dl{ width:520px;padding-left:5px; height:28px; overflow:hidden; background:url(/public/brandzt/images/dashed6.png) repeat-x left bottom;}
#joinList dl dt{ width:510px; height:22px; color:#999999; overflow:hidden; margin-top:5px; float:left; display:inline;FONT: 12px/23px Microsoft YaHei,tahoma,arial,宋体; }
#joinList dl dt *{  display:inline; FONT: 12px/23px Microsoft YaHei,tahoma,arial,宋体; }
#joinList dl dt img{ margin-top:4px;}

#joinStep{ margin-top:14px;}
