/*读人部分样式开始*/
	.readPeople{width:1020px; margin: 30px auto; background: #fff; padding:10px;}
	.wrap-hd{height: 24px; line-height: 24px; background: #E6EBFA; margin-bottom: 10px;}
	.wrap-hd h2{padding: 0 15px 0 35px; background: #fff url(../images/index/h2.png) no-repeat left center; height: 24px; line-height: 24px; font-size: 18px; color:#666; }
	.list dl{padding: 0 10px; border-bottom: 1px solid #F3F3F3; font-family: "宋体"; }
	.list dt{float: left; font-size: 12px; padding-top: 12px;}
	.list dd{width:900px; margin-left: 60px;padding-right: 40px; }
	.list dd a{display: inline-block; color: #6A7E9F; margin:10px 0; padding:4px 6px;}
	.list dd a:hover{text-decoration: underline;}
	.list dd .all{background: #6A7E9F; color: #fff;}
/*读人部分样式结束*/


/*内容部分样式开始*/
	.pt10{padding-top: 10px;}
	.ml150{margin-left: 150px;}
	.font12{font-size: 12px;}
	.font14{font-size: 14px;}
	.content{width:1020px; margin: 30px auto; background: #fff;padding: 10px;}
	.content ul{padding:0 15px;}
	.content ul li{padding:5px;}
	.content div.fr a{float: left;}
	.content a{display: block;}
	.content a.fl img{width:120px; height:120px;}
	.content div.fr img{height: 120px;}
	.content div.fr a{margin-left: 10px;}
	.content h3{margin-bottom: 10px;}
	.content h3 a{color: #6A7E9F;font-size: 16px;}
	.content h3 a:hover{text-decoration: underline;}
	.content p{color: #000; margin-bottom: 10px;}
	.content p span{color: #999;}
	.content p em{font-size: 11px; height: 16px; line-height: 16px; display: inline-block; font-style: normal; padding-right: 20px; background: url(../images/people/silver.png) no-repeat right center;}
	.content p em.gold{background-image: url(../images/people/bronze.png);}
	.content .page{margin-bottom: 5px;}
	.content .page a{display: inline-block; padding: 0 13px; background: #EEE; color: #00A8E6; font-size: 12px; line-height: 27px;}
	.content .page a:hover{color: #fff; background: #00A8E6;}
	.content a.current{color: #fff; background: #00A8E6;}
	.content a.abbr{color: #00A8E6; background: #fff;}
	.content a.abbr:hover{color: #fff;background: #fff;}
/*内容部分样式结束