@charset "utf-8"; /* CSS Document */ 
/*css reset 开始*/ 
/*初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
fieldset,img{ border:none; }
img{display:block;}
ul,ol,li,dl,dd,dt{list-style: none;}
em { font-style: normal; }
a{text-decoration:none;}
a:hover{text-decoration:none;}
/*解决IE图片缩放失真*/
img { -ms-interpolation-mode: bicubic; }
/*单行文字超出显示省略号*/
.omg{overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
/*清除浮动*/
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
.clearfix{zoom: 1;}

.fl{float: left;}
.fr{float: right;}

html, body {
	font-size:14px;
    color:#000; background:#f4f4f4;
    font-family: 'Microsoft Yahei','微软雅黑', \5FAE\8F6F\96C5\9ED1,'宋体',\5b8b\4f53,arial,'Hiragino Sans GB',Tahoma,Arial,Helvetica;
}
.hide{display: none;}

.colorBlue{color:#145bd1;font-size: 14px;}
.colorBlue02{color:#0075cf;font-size: 14px;}
.colorRed{color:#6c3b28;font-size: 14px;}
.colorGray{color:#c9c4cc;font-size: 14px;}
.colorGray02{color:#aa9fb0!important;font-size: 14px;}
.mt10{margin-top:10px;background: #fff;}
.lgBtn{width:270px;height:40px;background: #6c3b28;font-size: 17px;color: #fff;border-radius: 20px;display: block;text-align: center;line-height: 40px;margin:0 auto;}
.lgBtn-sm{width:237px;height:40px;background: #6c3b28;font-size: 17px;color: #fff;border-radius: 20px;display: block;text-align: center;line-height: 40px;margin:0 auto;}

.whiteBg{background:#fff;}
.mui-content {
    background-color: #f4f4f4;
    -webkit-overflow-scrolling: touch;
}

/*头部带返回按钮*/
.mui-bar-nav.mui-bar{background: #fff;}
.mui-bar-nav.mui-bar .mui-title{font-size: 18px;}
.mui-bar-nav.mui-bar .mui-action-back{margin:12px 12px 12px 0;background: url(../images/return.png) no-repeat;background-size: 100% 100%;width: 20px;height:20px;}
.opacityHeader.mui-bar-nav.mui-bar .mui-action-back{background-image: url(../images/icon-leftArrow.png);}
.mui-bar-nav.mui-bar .mui-action-back:before{content:'';}

.mui-bar-nav.mui-bar.header02 .mui-title{font-size: 12px;}
.mui-bar-nav.mui-bar.header02 .mui-icon{margin:7px 7px 7px 0;background-repeat: no-repeat;background-size: 100% 100%;width: 30px;height:30px;}
.mui-bar-nav.mui-bar.header02 .mui-icon.mui-pull-right{margin:7px 0 7px 7px;}
.mui-bar-nav.mui-bar.header02 .icon-menu.mui-icon{background-image: url(../images/icon-menu.png);}
.mui-bar-nav.mui-bar.header02 .icon-filter.mui-icon{background-image: url(../images/icon-filter.png);}
.mui-bar-nav.mui-bar.header02 .mui-icon:before{content:'';}

.mui-bar-nav.mui-bar.header03 .mui-title,.mui-bar-nav.mui-bar.header03 .mui-btn{color: #6c3b28;outline: none;border: 0;}
.mui-bar-nav.mui-bar.header03 .headMore{margin:12px 0px 12px 12px;background: url(../images/headMore.png) no-repeat;background-size: 100% 100%;width: 24px;height:24px;}
.

.mui-content {background-color: #F4F4F4;}

/*底部nav样式*/
.mui-bar.mui-bar-tab{box-shadow: 0 -1px 6px #ccc;}
.mui-bar .navIcon{
	width:42px;height: 42px;
	margin:0 auto;
	display: block;
	background-repeat:no-repeat;
	background-size: 100%;}
.mui-bar-tab .mui-tab-item {overflow: initial;}
.publishLink{position: relative;}
.shareLink .navIcon{background-image:url(../images/share01.png);}
.shareLink.mui-active .navIcon{background-image:url(../images/share02.png);}
.mealLink .navIcon{background-image:url(../images/meal01.png);}
.mealLink.mui-active .navIcon{background-image:url(../images/meal02.png);}
.publishLink .navIcon{
	background-image: url(../images/publish.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%);
}
.findLink .navIcon{background-image:url(../images/find01.png);}
.findLink.mui-active .navIcon{background-image:url(../images/find02.png);}
.mineLink .navIcon{background-image:url(../images/mine01.png);}
.mineLink.mui-active .navIcon{background-image:url(../images/mine02.png);}
/*有三个图标的底部样式*/
.bottomNav a{font-size: 14px;}
.bottomNav.mui-bar-tab .mui-tab-item.mui-active,.bottomNav.mui-bar-tab .mui-tab-item{color:#6f3b2f;}
.bottomNav .bt-icon{    
	width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.bottomNav .icon-chat{background-image: url(../images/icon-chat.png);}
.bottomNav .icon-attention{background-image: url(../images/icon-attention.png);}
.bottomNav .icon-tipoffs{background-image: url(../images/icon-tipoffs.png);}
.bottomNav .icon-like{background-image: url(../images/icon-like02.png);}
.bottomNav .icon-unlike{background-image: url(../images/icon-like.png);}
.bottomNav .icon-forward{background-image: url(../images/icon-forward.png);}

/*列表每一行下面的边线*/
.mui-table-view-cell:after {
    left: 0px;
    height: 1px;
    background-color: #c8c7cc;
}
.listStyle.mui-content>.mui-table-view:first-child {
    margin-top: 5px;
}
.listStyle .mui-table-view .mui-table-view-cell{font-size: 14px;padding: 14px 15px;position:relative;}
.listStyle .mui-table-view .mui-table-view-cell.active:before{
	position: absolute;
	top:17px;
	right:14px;
	width: 15px;
	height: 15px;
	content:'';
	background:url(../images/icon-ok.png) no-repeat;
	background-size:100%;
}
.listStyle .mui-table-view-cell>a:not(.mui-btn) {
    position: relative;
    display: block;
    overflow: hidden;
    margin: -14px -15px;
    padding: inherit;
    padding-right:25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
}
.listStyle .mui-navigate-right:after, .mui-push-right:after {
    right: 10px;
    content: '\e583';
}
/*卡片视图  S*/
.mui-card-content {
	padding: 10px;
}
.mui-card span{display: inline-block;vertical-align: middle;}

.mui-card-header>img:first-child{border-radius: 50%;}
.mui-card .mui-card-header.mui-card-media .mui-media-body  p{
    color: #000;
    font-size: 14px;
    line-height: 18px;
} 
.mui-card .mui-card-header.mui-card-media .mui-media-body  p.listName{font-weight: 600;}
.mui-card .mui-card-header.mui-card-media .mui-media-body  p.listLevel{color:#6C3B28;}
.mui-media-body {
	position: relative;
}
.mui-card .mui-card-header.mui-card-media .mui-media-body  .listTimePlace{
	position: absolute;
	top: 0;
	right: 0;
}
.mui-card .mui-card-header.mui-card-media .mui-media-body  .listTimePlace p{text-align:right;font-size:12px;color:#c3bbc7;}
.mui-card .mui-card-header .icons,.mui-card .mui-card-footer .icons{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.icons{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.mui-card .mui-card-header .iconsafe {
    background-image: url(../images/icon-safe.png);
    width: 18px;
    height: 18px;
    margin-left: 5px;
}
.mui-card .mui-card-header .iconlevel {
    background-image: url(../images/icon-level.png);
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.listInfo {
	color: #000;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 5px;
}
.mui-table-view.mui-grid-view.listImg{padding:0 0 5px;}
.mui-table-view.mui-grid-view.listImg .mui-table-view-cell{padding:5px;}

.mui-card-footer:before {
	height: 0px;
}

.mui-card-footer {
	padding-top: 0;
	min-height: auto;
}
.footerlike{margin-right:10px;}
.likeIcon,.likeIconNone,.commentIcon,.iconMore{width:22px;height:22px;}
.likeIcon{
	background-image: url(../images/icon-like02.png);
}
.likeIconNone{
	background-image: url(../images/icon-like01.png);
}
.commentIcon{
	background-image: url(../images/icon-msg.png);
}
.iconMore{
	background-image: url(../images/icon-more.png);
}
.likeNum,.commentNum {
	font-size: 14px;
	margin:0 5px;
}
/*卡片视图  E*/
/*卡片视图*/
.mui-card {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 0px 5px #ccc;
}
.mui-table-view.mui-grid-view{padding: 5px 10px;}
.mui-table-view.mui-grid-view .mui-table-view-cell {
    font-size: 14px;
    padding: 5px 7px;
    position: relative;
    margin-right:0;
}
/*图片列表共用样式*/
.imgList {}
.mui-table-view.mui-grid-view{width:101%;}
.imgList .mui-card-footer:before, .mui-card-header:after{height:0;}
.imgList .mui-card-content{padding:0;}
.imgList .listInfo{padding:0 10px;color: #000;font-size: 13px;line-height: 18px;margin-bottom: 8px;}
.imgList .listImg.mui-table-view.mui-grid-view .mui-table-view-cell{padding:0 3px 3px 0px;border-radius: 0;}
.imgList .mui-table-view.mui-grid-view.listImg{padding:0px;}
.imgList .mui-table-view.mui-grid-view.listImg01{padding:0 10px;}
.imgList .mui-table-view.mui-grid-view.listImg02{padding:0 26px;}
.imgList .mui-table-view.mui-grid-view.listImg04{padding:0 59px;}
.imgList .listLabels{margin:10px auto 15px;padding:0 10px;}

@media only screen and (min-width:320px ) {
	.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object{
		height:86px;
	}
	/*3,5,6,7,8,9 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg .mui-media-object{
		height:98px;
	}
	/*1 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg01 .mui-media-object{
		height:186px;
	}
	/*2 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg02 .mui-media-object{
		height:123px;
	}
	/*4 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg04 .mui-media-object{
		height:90px;
	}
	/*个人详情*/
	.newDynamis .mui-table-view.mui-grid-view .mui-table-view-cell img{
		height:66px
	}
}
@media only screen and (min-width:375px ) {
	.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object{
		height:100px;
	}
	/*3,5,6,7,8,9 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg .mui-media-object{
		height:117px;
	}
	/*1 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg01 .mui-media-object{
		height:223px;
	}
	/*2 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg02 .mui-media-object{
		height:150px;
	}
	/*4 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg04 .mui-media-object{
		height:117px;
	}
	/*个人详情*/
	.newDynamis .mui-table-view.mui-grid-view .mui-table-view-cell img{
		height:80px
	}
}
@media only screen and (min-width:414px ) {
	.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object{
		height:114px;
	}
	/*3,5,6,7,8,9 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg .mui-media-object{
		height:130px;
	}
	/*1 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg01 .mui-media-object{
		height:249px;
	}
	/*2 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg02 .mui-media-object{
		height:170px;
	}
	/*4 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg04 .mui-media-object{
		height:137px;
	}
	/*个人详情*/
	.newDynamis .mui-table-view.mui-grid-view .mui-table-view-cell img{
		height:90px
	}
}
@media only screen and (min-width:768px ) {
	.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object{
		height:230px;
	}
	/*3,5,6,7,8,9 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg .mui-media-object{
		height:249px;
	}
	/*1 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg01 .mui-media-object{
		height:487px;
	}
	/*2 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg02 .mui-media-object{
		height:349px;
	}
	/*4 张图片*/
	.imgList .mui-table-view.mui-grid-view.listImg04 .mui-media-object{
		height:316px;
	}
	/*个人详情*/
	.newDynamis .mui-table-view.mui-grid-view .mui-table-view-cell img{
		height:179px
	}
}

/*标签*/
.listLabels li {
	float: left;
	margin-right: 5px;
}
.labels {
	padding: 2px 10px;
	border: 1px solid #000000;
	border-radius: 3px;
	font-size: 14px;
}
.labelblue {
	border-color: #2498f2;
	color: #2498f2;
}
.labelgreen {
	border-color: #40c578;
	color: #40c578;
}
.labelorange {
	border-color: #ff7200;
	color: #ff7200;
}	
.labelblue .iconlocation {
	width:22px;
	height:22px;
	background: url(../images/icon-location02.png) no-repeat center;
	background-size: 100%;
    margin-left: -5px;
}
/*弹窗*/
.shadowModel{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.shadow{position:absolute;background: #000;opacity: 0.5;width:100%;height:100%;}
.modelCon{position:fixed;background: #fff;top:50%;left:50%;transform: translate(-50%,-50%);border-radius: 3px;width:300px;height:455px;}
.modelHead{font-size: 14px;text-align: center;position: relative;color:#6f3b2f;padding-top: 14px;line-height: 16px;}
.modelHead .icon-close{width:15px;height:15px;background:url(../images/icon-close.png) no-repeat center;background-size:100%;position: absolute;top:14px;right:17px;}
.modelContent .leaveMsg{font-size: 14px;padding:6px;width:250px;height:70px;}

/*图标共用*/
.Icons{width:24px;height:24px;background-repeat: no-repeat;background-size:100%;position: relative;}
.icon-score{background-image: url(../images/icon-score.png);}
.icon-account{background-image: url(../images/icon-account.png);}
.icon-discount{background-image: url(../images/icon-discount.png);}
.icon-address{background-image: url(../images/icon-location.png);}
.icon-cook{background-image: url(../images/icon-cook.png);}
.icon-grade{background-image: url(../images/icon-grade.png);}
.icon-service{background-image: url(../images/icon-service.png);}
.icon-setting{background-image: url(../images/icon-setting.png);}
.icon-bell{background-image: url(../images/icon-bell.png);}
.icon-IT{background-image: url(../images/icon-IT.png);}
.icon-business{background-image: url(../images/icon-business.png);}
.icon-publicService{background-image: url(../images/icon-publicServie.png);}
.icon-engineer{background-image: url(../images/icon-engineer.png);}
.icon-entertainment{background-image: url(../images/icon-entertainment.png);}
.icon-media{background-image: url(../images/icon-media.png);}
.icon-traffic{background-image: url(../images/icon-traffic.png);}
.icon-finance{background-image: url(../images/icon-finance.png);}
.icon-student{background-image: url(../images/icon-student.png);}
.icon-none{background-image: url(../images/icon-none.png);}
.navIcon{position: relative;}
.Icons .mui-badge ,.navIcon .mui-badge{
    font-size: 10px;
    line-height: 1;
    position: absolute;
    top: -5px;
    left: 100%;
    margin-left: -12px;
    padding: 1px 4px;
    color: #fff;
    background: red;
}
.navIcon .mui-badge{top:-2px;margin-left: -16px;}

/*列表共用*/
.normalList li{color:#000;background:#fff;}
.normalList li,.normalList li a{min-height:50px;line-height: 26px;font-size: 17px;}
.normalList .mui-table-view-cell.mui-active,.normalList .mui-table-view-cell>a:not(.mui-btn).mui-active {
    background-color: #fff;
}
.normalList .mui-table-view-cell>a:not(.mui-btn){white-space: normal;}
.normalList .mui-navigate-right:after,.normalList .mui-push-right:after {
    right: 10px;
    content: '\e583';
}
.normalListName {
	position: absolute;
    top: 50%;
    margin-top:-15px;
}
.normalList .listRight{margin-right:15px;font-size: 14px;color:#aa9fb0;max-width: 65%;line-height: 18px;padding:4px 0;}
.normalList img.listRight{padding:0;}
/*字体样式共用*/
.cr000{color:#000!important;}
.crfff{color:#fff!important;}
.crf00{color:#f00!important;}
.cr9a{color:#9a9a9a!important;}
.craa9fb0{color:#aa9fb0!important;}
.cr2498f2{color:#2498f2!important;}
.ft17{font-size: 17px!important;}
.ft14{font-size: 14px!important;}
.ft12{font-size: 12px!important;}
.lh20{line-height: 20px!important;}
.lh22{line-height: 22px!important;}
.lh25{line-height: 25px!important;}
.lh16{line-height: 16px!important;}
.lh18{line-height: 18px!important;}
.lh31{line-height: 31px!important;}
.img68{width:68px;height: 68px;border-radius: 50%;}
.img70{width:70px;height: 70px;border-radius: 50%;}
.mgt10{margin-top:10px;}
.mgt14{margin-top:14px;}
.mgb10{margin-bottom:10px;}
.mgt20{margin-top:20px;}

/*联动*/
.mui-poppicker,.mui-picker,.mui-dtpicker-title h5,.mui-dtpicker{background: #fff;}
.mui-poppicker-header .mui-btn,.mui-dtpicker-header button{font-size: 14px;background:none;border:none;color: #6C3B28;}
.mui-backdrop {
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}