@charset "utf-8";
/* CSS Document */
/*初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img{ border:none; }
img{display:block;}
li{list-style:none; }
a{ color:#666666; text-decoration:none;}
a:hover{ color:#7AB800; text-decoration:underline;}
body{background:#fff; font-size:12px;}

/*头部样式开始*/
.header{
	width:980px;
	height:42px;
	margin:0 auto;
	padding-top:20px;
	}
.header h1{
	width:179px;
	height:23px;
	float:left;
	background:url(../images/bg.png) no-repeat;
	text-indent:-9999px;
	}
.header form{
	width:198px;
	height:30px;
	float:right;
	}
.header form input{
	float:left;
	background:url(../images/bg.png) no-repeat 0 -53px;
	width:160px;
	height:30px;
	line-height:30px;
	border:0;
	color:#999;
	padding-left:6px;
	outline:none;
	}
.header form button{
	float:left;
	background:url(../images/bg.png) no-repeat -169px -53px;
	width:32px;
	height:30px;
	border:0;
	cursor:pointer;
	}
/*头部样式结束*/

/*导航样式开始*/
.nav{
	height:55px;
	border-top:#CCC solid 1px;
	background:url(../images/bg.png) repeat-x 0 -151px;
	}
.nav ul{
	width:980px;
	margin:0 auto;
	}
.nav li{
	float:left;
	width:130px;
	text-align:center;
	background:url(../images/nav_li_bg.png) no-repeat right center;
	}
.nav li a{
	line-height:55px;
	font-family:微软雅黑;
	font-weight:bold;
	font-size:14px;
	color:#000;
	}
/*导航样式结束*/

.banner{
	width:980px;
	margin:0 auto;
	position:relative;
	}
.banner ul{
	height:597px;
	overflow:hidden;
	}
.banner ol{
	height:12px;
	width:44px;
	margin:15px auto 42px;
	}
.banner ol li{
	width:12px;
	height:12px;
	background:url(../images/bg.png) no-repeat -19px -93px;
	float:left;
	margin:0 5px;
	_display:inline;
	}
.banner ol li.current{
	background:url(../images/bg.png) no-repeat 0px -93px;
	}

.notice{
	border-bottom:#CCC solid 1px;
	border-top:#CCC solid 1px;
	background:#EEE;
	}
.inNotice{
	height:29px;
	width:980px;
	margin:0 auto;
	}
.inNotice p{
	width:600px;
	height:29px;
	float:left;
	line-height:29px;
	}
.share{
	height:23px;
	float:right;
	padding-top:6px;
	}
.share a{
	width:16px;
	height:16px;
	float:left;
	margin-left:10px;
	}
.share a.icon1{ background:url(../images/bg.png) no-repeat 0 -29px;}
.share a.icon2{ background:url(../images/bg.png) no-repeat -23px -29px;}
.share a.icon3{ background:url(../images/bg.png) no-repeat -46px -29px;}
.share a.icon4{ background:url(../images/bg.png) no-repeat -69px -29px;}

.main{
	width:980px;
	margin:15px auto 50px;
	overflow:hidden;
	zoom:1;
	}
.product,.news,.support{
	padding:10px;
	height:204px;
	border:#CCC solid 1px;
	}
.product{
	width:290px;
	float:left;
	margin-right:11px;
	position:relative;
	}
.news{
	width:353px;
	float:left;
	}
.support{
	width:248px;
	float:right;
	}
.main h2{
	background:url(../images/bg.png) no-repeat -183px -93px;
	padding-left:20px;
	color:#7AB800;
	font-size:12px;
	font-weight:bold;
	}
.hd{
	overflow:hidden;
	zoom:1;
	}
.hd h2{
	float:left;
	}
.hd a{
	float:right;
	}
.product ul{
	width:80%;
	margin:0 auto;
	height:148px;
	overflow:hidden;
	margin-top:10px;
	}
.product ul img{
	margin:0 auto;
	}
.product span{
	width:11px;
	height:19px;
	position:absolute;
	top:88px;
	cursor:pointer;
	}
.prev{ left:15px; background:url(../images/bg.png) no-repeat -118px -29px; cursor: pointer;}
.next{ right:15px;background:url(../images/bg.png) no-repeat -100px -29px; cursor: pointer;}

.news ul{
	margin:10px 13px 0;
	}
.news li{
	border-bottom:#CCC dashed 1px;
	}
.news li a{
	line-height:27px;
	}
.hot a{ color:#F00; font-weight:bold;}

.support ul{
	margin:10px 0 0 22px;
	}
.support li{
	background:url(../images/bg.png) no-repeat -198px -27px;
	padding-left:10px;
	}
.support li a{
	line-height:20px;
	}
.support p{
	margin:30px 0 0 22px;
	color:#666;
	line-height:22px;
	}

.footer{
	background:#2d2d2d url(../images/bg.png) repeat-x 0 -215px;
	padding-bottom:15px;
	}
.inFooter{
	width:980px;
	margin:0 auto;
	padding-top:12px;
	overflow:hidden;
	zoom:1;
	position:relative;
	}
.inFooter dl{
	float:left;
	margin-right:50px;
	line-height:20px;
	}
.inFooter dl dt{
	color:#FFF;
	margin-bottom:15px;
	font-size:14px;
	}
.footer p{
	text-align:center;
	border-top:#ccc dashed 1px;
	line-height:30px;
	}
.footer img{
	display:inline-block;
	}
.iconArea{
	text-align:center;
	}
.top{
	width:52px;
	height:30px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	}
.dBarCode{
	background:url(../images/ewm.gif) no-repeat;
	width:123px;
	height:123px;
	position:absolute;
	top:30px;
	right:-133px;
	}