@charset "utf-8"; /* CSS Document */ 


/*品牌动态开始*/
	.brandNews .hd{
		width: 970px;
		height: 40px;
		margin-bottom:13px;
		background: url(../images/spirit.png) no-repeat 0 -687px;
	}
	.brandNews .hd h3{
		height: 39px;
		margin-bottom:13px;
		font-size: 12px;
		color: #D3941A;
		padding-right: 50px;
		line-height: 26px;
		text-align: right;
		background: url(../images/brandNews_h3_bg.jpg) no-repeat left center;
	}
	.brandNews .main{
		width: 958px;
		padding:6px;
		background:url(../images/dashed10.png);
	}
	.brandNews dl{
		background: #fff;
		font-size: 10px;
		font-size:12px\0;
		padding:17px 11px 0;
	}
	.brandNews dl.last{
		padding-bottom: 20px;
	}
	.brandNews dl dt{
		padding:0 25px;
		margin-bottom: 13px;
		background: url(../images/brandNews_pre.gif) no-repeat 10px center;
	}
	.brandNews dl dt a{
		font-size: 14px;
		font-weight: bold;
		font-family: 微软雅黑;
		display: inline;
		color:#313131;
	}
	.brandNews dl dt a:hover{
		color: #FF4D4D;
	}
	.brandNews dl dd{
		padding: 0 25px;
		text-indent: 2em;
		font-size: 12px;
		line-height: 24px;
		padding-bottom: 12px;
		border-bottom: 1px dashed #AEAEAE;
	}
/*品牌动态结束*/