@charset "utf-8"; /* CSS Document */ 


/*品牌介绍开始*/
 	.brandShow{
 		width: 970px;
 		height: 411px;
 		margin: 0 auto;
 		background: #fff url(../images/show_bg.png) no-repeat 7px 71px;
 		padding: 0px 7px;
 	}
 	.info{
 		width: 664px;
 		float: left;
 	}

 	.info h2{
 		text-indent: -9999px;
 		margin-top: 6px;
 		height: 58px;
 		background: url(../images/spirit.png) no-repeat 0 -181px;
 	}
 	.text{
 		overflow: hidden;
 		margin-left: 33px;
 		width: 580px;
 		height: 334px;
 	} 
 	.text p{
 		color: #333333;
 		line-height: 28px;
 	}
 	.show{
 		width:306px;
 		height: 409px;
 		float: right;
 		background: url(../images/focusBg.png);
 		position: relative;
 	}
 	.show ul{
 		width: 283px;
 		height: 332px;
 		/*overflow: hidden;*/
 		position: relative;
 		left: 11px;
 		bottom: -64px;
 		position: relative;
 	}
 	.show ul li{
 		position: absolute;
 		top:0;
 		left:0;
 	}
 	.showInfo{
 		width:258px;
 		background: url(../images/11.png) ;
 		height: 33px;
 		color: #fff;
 		position: absolute;
 		bottom: 11px;
 		left: 11px;
 		line-height: 33px;
 		padding:0px 5px 0 20px;
 		overflow: hidden;
 	}
 	.show span{
 		_float: left;
 		font-weight: bold;
 	}
 	.show ol{
 		margin-top: 10px;
 		float: right;
 	}
 	.show ol li{
 		margin-right: 3px;
 		width: 26px;
 		height: 15px;
		float: left;
		line-height: 15px;
		text-align: center;
		background: #000;
		cursor: pointer;
 	}
 	.show .current{
 		background: #D66D07;
 	}
/*品牌介绍结束*/

/*新款展示开始*/
	.newStyle{
		width: 970px;
		margin: 0 auto ;
		background: #fff ;
		padding: 20px 7px 0;
	}
	.newStyle .hd{
		width: 970px;
		height: 40px;
		margin-bottom:13px;
		background: url(../images/spirit.png) no-repeat 0px -124px ;
	}
	.hd a{
		font-size: 12px;
		float: right;
		color: #fff;
		background: #D3941A;
		padding: 4px 10px;
	}
	.newStyle .hd h2{
		text-indent: -9999px;
		width: 220px;
		height: 40px;
		margin-bottom:13px;
		background: url(../images/spirit.png) no-repeat 0 -258px;
	}
	.inStyle{
		margin: 0 auto;
		width: 970px;
		height: 454px;
		padding-top: 8px;
		/*padding: 8px;*/
		background: url(../images/newStyle_bg.png);
	}
	.pro1,.pro2{
		width: 954px;
		height:219px;
		margin-left: 8px;
		/*margin-top: 8px;*/
		background: #fff;
	}
	.pro2{
		margin-top: 8px;
	}
	.inStyle li{
		height: 206px;
		background:  url(../images/line.png) no-repeat left center;
		padding:6px 11px 0 29px;
		float: left;
	}
	.inStyle li a{
		line-height: 24px;
		text-align: center;
		color: #333333;
		font-size: 12px;
	}
	.inStyle .first{
		background: #fff;
	}
/*新款展示结束*/

/*加盟品牌开始*/
	.joinBrand{
		width: 970px;
		background: #fff;
		margin: 0 auto;
		padding: 13px  7px 0;
	}
	.joinBrand .hd{
		width: 970px;
		height: 40px;
		margin-bottom:13px;
		background: url(../images/spirit.png) no-repeat 0px -124px ;
	}
	.joinBrand .hd h2{
		text-indent: -9999px;
		width: 220px;
		height: 40px;
		margin-bottom:13px;
		background: url(../images/spirit.png) no-repeat 0 -124px;
	}
	.flower{
		width: 117px;
		height: 408px;
		float: left;
		background: #737373 url(../images/flower.png) no-repeat bottom;
	}
	.flower p{
		padding: 10px 8px 0;
		color: #fff;
		font-size: 12px;
		line-height: 22px;
	}
	.flower i{
		margin:3px auto 0;
		display: block;
		width: 101px;
		height: 25px;
		background: url(../images/feedBtn.png) no-repeat;
		cursor: pointer;
	}
	.pic{
		width: 829px;
		height: 396px;
		float: right;
		background: url(../images/dashed10.png);
		padding: 6px;
	}
	.pic p{
		display: block;
		width: 799px;
		height: 385px;
		padding: 11px 15px 0;
		line-height: 28px;
		background: #fff;
	}
/*加盟品牌结束*/

/*店铺形象开始 */
 	.shop{
 		width: 970px;
 		background: #fff;
 		margin: 0 auto;
 		padding: 12px 7px 0;
 	}
 	.shop .hd{
		width: 970px;
		margin-bottom:13px;
		height: 34px;
 		background: url(../images/spirit.png) no-repeat 0 -317px;
	}
	.shop .hd h2{
		text-indent: -9999px;
		margin-bottom:13px;
		width: 203px;
 		height: 34px;
 		background: url(../images/spirit.png) no-repeat 0 -371px;
	}
 	.shopImg{
 		width: 930px;
 		height: 230px;
 		overflow: hidden;
 		background: url(../images/shopbg.png) no-repeat;
 		padding: 20px ;
 	}
 	.shop .shopImg a{
 		width: 420px;
 		height: 250px;
 		overflow: hidden;
 		padding: 0 18px;
 		float: left;
 	}
/*店铺形象结束 */




