@media only screen and (max-width: 768px){
        html,body {font-size:190px;}
    }
    @media only screen and (max-width: 600px) {
        html,body {font-size:180px;}
    }
    @media only screen and (max-width: 480px) {
        html,body {font-size:130px;}
    }
    @media only screen and (max-width: 414px) {
        html,body {font-size:130px;}
    }
    @media only screen and (max-width: 412px) {
        html,body {font-size:120px;}
    }
    @media only screen and (max-width: 375px),only screen and (max-width: 384px){
        html,body {font-size:112px;}
    }
    @media only screen and (max-width: 360px){
        html,body {font-size:112px;}
    }
    @media only screen and (max-width: 320px)  {
        html,body {font-size:100px;}
    }
.page{width: 100%;height: 100%;position: absolute;top:0;left:0;overflow: hidden;}
.hide{display: none;}

    .p0{background-color: #000;}
    .p0-hungry,.p0-loading,.hungry-shadow{position: absolute;top:50%;left:50%;}
    .p0-hungry{width: 108px;height: 20px;color: #999;top:65%;margin-left: -54px; font-size: 18px;}
    .hungry-shadow{
        top:65%;margin-left: -54px;
        width: 108px;height: 20px;
        background-color: #000;
        -webkit-animation: shadow 1s .5s ease both infinite;
        animation: shadow 1s .5s ease both infinite;
        transform-origin: 100% 0%;
        -webkit-transform-origin: 100% 0%;
    }
    .p0-loading{width: 150px;height: 150px;transform:translate(-50%,-50%);background: url(images/loading.gif) center no-repeat;-webkit-background-size: 100%;background-size: 100%;border:3px solid #999;border-radius: 50%}

    .p1{background-color: #141414;}
    .p1-camera{position: absolute;right:0;bottom:0;width: 13%;}
    .p1-rect{position: absolute;bottom:2%;width: 60px;height: 13px;background-color: #606060;border-radius: 6px;left:50%;margin-left: -30px;}
    .p1-time{
        position: relative;
        width: 60%;
        left:20%;
        margin:3% auto 1%;
    }
    .p1-camera,.p1-rect,.p1-time{
        -webkit-animation: fadeInNormal .5s .5s ease both;
        animation: fadeInNormal .5s .5s ease both;
        opacity: 0;}
    .p1-msg{color: #fff;font-size: 0.14rem;}
    .msg,.momo{
        background:url(images/msg-bg.png) 3% 0.17rem no-repeat;
        border-top:1px solid #272727;
        -webkit-background-size: 6%;
        background-size: 6%;
        padding:5% 3% 4% 10%;
    }
    .p1-msg-time{font-size: 0.12rem;color:#999;margin-left: 4%;}
    .momo{background-image: url(images/momo-bg.png);}
    .msg-momo{
        -webkit-animation: fadeInNormal .5s  ease both;
        animation: fadeInNormal .5s  ease both;
        opacity: 0;
    }
    
   
    .goOn{
        position: absolute;
        width: 25px;
        height:26px;
        background-image: url(images/get-hint.png);
        -webkit-animation:goOn .5s step-start both infinite;  
        animation:goOn .5s step-start both infinite; 
        -webkit-background-size: 300% 100%;
        background-size: 300% 100%;
        display: none;
    }
    .goOn01{top:34.5%;left:30%;}
    .goOn02{top:38.5%;left:55%;}
    .goOn03{top:67.5%;left:53%;}
    .jumpTip{
        width: 130px;height: 37px;
        bottom:5%;background-image: url(images/jump.png);
        -webkit-animation:jump .5s step-start both infinite;  
        animation:jump .5s step-start both infinite; 
        -webkit-background-size: 100% 300%;
        background-size: 100% 300%;
        left: 50%;
        margin-left: -65px;
    }

    @keyframes goOn{
        0%  {background-position: 0% 0%;}
        50% {background-position: -100% 0%;}
        100%{background-position: -200% 0%;}
    }
    @keyframes jump{
        0%  {background-position: 0% 0%;}
        50% {background-position: 0% -100%;}
        100%{background-position: 0% -200%;}
    }

    @keyframes shadow {
        0%  {opacity: 1;transform: scaleX(1); -webkit-transform: scaleX(1);}
        100%{opacity: 1;transform: scaleX(0); -webkit-transform: scaleX(0);}
    }
    @-webkit-keyframes shadow {
        0%  {opacity: 1;-webkit-transform: scaleX(1);}
        100%{opacity: 1;-webkit-transform: scaleX(0);}
    }
.donghua{position: absolute;top:0;left:0;width: 100%;height: 100%;z-index: 100;}

.p2animate{
    position: absolute;
    width: 100%;
    height: 92%;
    top:4%;
    background-size: 700% 400%;
}
/* css3 动画 方法一 */
 @keyframes bingxiang3{
    0%   {background-position: 0% 0%;}
    14%{background-position: -100% 0%;}
    28%  {background-position: -200% 0%;}
    42%{background-position: -300% 0%;}
    56%  {background-position: 0% -200%;}
    70%{background-position: -100% -200%;}
    84%  {background-position: -200% -200%;}
    100% {background-position: -300% -200%;}
}
/* 方法二 */
.bingxiang-1,.bingxiang-2,.bingxiang-3,.bingxiang-4,.bingxiang-5,.bingxiang-6,.bingxiang-7,.bingxiang-8,.bingxiang-9,.bingxiang-10,.bingxiang-11,.bingxiang-12,.bingxiang-13,.bingxiang-14,.bingxiang-15,.bingxiang-16,.bingxiang-17,.bingxiang-18,.bingxiang-19,.bingxiang-20,.bingxiang-21,.bingxiang-22,.bingxiang-23,.bingxiang-24{background-image: url(images/bingxiang1.jpg);}
.bingxiang-1{background-position: -200% -300%;}
.bingxiang-2{background-position: -200% -200%;}
.bingxiang-3{background-position: -200% -100%;}
.bingxiang-4{background-position: -100% -100%;}
.bingxiang-5{background-position: 0% -100%;}
.bingxiang-6{background-position: -300% 0%;}
.bingxiang-7{background-position: -200% 0%;}
.bingxiang-8{background-position: -100% 0%;}
.bingxiang-9{background-position: 0% 0%;}
.bingxiang-10{background-position: -100% -300%;}
.bingxiang-11{background-position: 0% -300%;}
.bingxiang-12{background-position: -600% -200%;}
.bingxiang-13{background-position: -600% -100%;}
.bingxiang-14{background-position: -600% 0%;}
.bingxiang-15{background-position: -500% -200%;}
.bingxiang-16{background-position: -500% -100%;}
.bingxiang-17{background-position: -500% 0%;}
.bingxiang-18{background-position: -400% -200%;}
.bingxiang-19{background-position: -300% -200%;}
.bingxiang-20{background-position: -100% -200%;}
.bingxiang-21{background-position: 0% -200%;}
.bingxiang-22{background-position: -400% -100%;}
.bingxiang-23{background-position: -400% 0%;}
.bingxiang-24{background-position: -300% -100%;}

.bingxiang-25,.bingxiang-26,.bingxiang-27,.bingxiang-28,.bingxiang-29,.bingxiang-30,.bingxiang-31,.bingxiang-32,.bingxiang-33,.bingxiang-34,.bingxiang-35,.bingxiang-36,.bingxiang-37,.bingxiang-38,.bingxiang-39,.bingxiang-40,.bingxiang-41,.bingxiang-42,.bingxiang-43,.bingxiang-44,.bingxiang-45,.bingxiang-46,.bingxiang-47,.bingxiang-48{background-image: url(images/bingxiang2.jpg);}
.bingxiang-25{background-position: -200% -300%;}
.bingxiang-26{background-position: -100% -300%;}
.bingxiang-27{background-position: 0% -300%;}
.bingxiang-28{background-position: -600% -200%;}
.bingxiang-29{background-position: -600% -100%;}
.bingxiang-30{background-position: -600% 0%;}
.bingxiang-31{background-position: -500% -200%;}
.bingxiang-32{background-position: -500% -100%;}
.bingxiang-33{background-position: -500% 0%;}
.bingxiang-34{background-position: -400% -200%;}
.bingxiang-35{background-position: -300% -200%;}
.bingxiang-36{background-position: -200% -200%;}
.bingxiang-37{background-position: -100% -200%;}
.bingxiang-38{background-position: 0% -200%;}
.bingxiang-39{background-position: -400% -100%;}
.bingxiang-40{background-position: -400% 0%;;}
.bingxiang-41{background-position: -300% -100%;}
.bingxiang-42{background-position: -200% -100%;}
.bingxiang-43{background-position: -100% -100%;}
.bingxiang-44{background-position: 0% -100%;}
.bingxiang-45{background-position: -300% 0%;}
.bingxiang-46{background-position: -200% 0%;}
.bingxiang-47{background-position: -100% 0%;}
.bingxiang-48{background-position: 0% 0%;}

.bingxiang-49,.bingxiang-50,.bingxiang-51,.bingxiang-52,.bingxiang-53,.bingxiang-54,.bingxiang-55,.bingxiang-56,.bingxiang-57,.bingxiang-58,.bingxiang-59,.bingxiang-60,.bingxiang-61,.bingxiang-62,.bingxiang-63,.bingxiang-64,.bingxiang-65,.bingxiang-66,.bingxiang-67,.bingxiang-68,.bingxiang-69,.bingxiang-70,.bingxiang-71,.bingxiang-72{background-image: url(images/bingxiang3.jpg);}
.bingxiang-49{background-position: -100% -300%;}
.bingxiang-50{background-position: 0% -300%;}
.bingxiang-51{background-position: -600% -200%;}
.bingxiang-52{background-position: -600% -100%;}
.bingxiang-53{background-position: -600% 0%;}
.bingxiang-54{background-position: -500% -200%;}
.bingxiang-55{background-position: -500% -100%;}
.bingxiang-56{background-position: -500% 0%;}
.bingxiang-57{background-position: -400% -200%;}
.bingxiang-58{background-position: -300% -200%;}
.bingxiang-59{background-position: -200% -200%;}
.bingxiang-60{background-position: -100% -200%;}
.bingxiang-61{background-position: 0% -200%;}
.bingxiang-62{background-position: -400% -100%;}
.bingxiang-63{background-position: -400% 0%;;}
.bingxiang-64{background-position: -300% -100%;}
.bingxiang-65{background-position: -200% -100%;}
.bingxiang-66{background-position: -100% -100%;}
.bingxiang-67{background-position: 0% -100%;}
.bingxiang-68{background-position: -300% 0%;}
.bingxiang-69{background-position: -200% 0%;}
.bingxiang-70{background-position: -100% 0%;}
.bingxiang-71{background-position: 0% 0%;}


.p2-text{position: absolute;top:0;left:0;width: 100%;height: 100%;
    background-position: 0 0;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,.5);}
.rice-text{background-image: url(images/rice-text.png);}
.beer-text{background-image: url(images/beer-text.png);}
.sauce-text{background-image: url(images/sauce-text.png);}

.rice-1,.rice-2,.rice-3,.rice-4,.rice-5,.rice-6,.rice-7,.rice-8,.rice-9,.rice-10,.rice-11,.rice-12,.rice-13,.rice-14,.rice-15,.rice-16,.rice-17,.rice-18,.rice-19{
    background-image: url(images/rice.jpg);
    -webkit-background-size: 700% 300%;
    background-size: 700% 300%;
}
.rice-1{background-position: -600% 0%;}
.rice-2{background-position: -300% -100%;}
.rice-3{background-position: -200% -100%;}
.rice-4{background-position: -100% -100%;}
.rice-5{background-position: 0% -100%;}
.rice-6{background-position: -300% 0%;}
.rice-7{background-position: -200% 0%;}
.rice-8{background-position: -100% 0%;}
.rice-9{background-position: 0% 0%;}
.rice-10{background-position: -500% -200%;}
.rice-11{background-position: -500% -100%;}
.rice-12{background-position: -500% 0%;}
.rice-13{background-position: -400% -200%;}
.rice-14{background-position: -300% -200%;}
.rice-15{background-position: -200% -200%;}
.rice-16{background-position: -100% -200%;}
.rice-17{background-position: 0% -200%;}
.rice-18{background-position: -400% -100%;}
.rice-19{background-position: -400% 0%;}
 

.sauce-1,.sauce-2,.sauce-3,.sauce-4,.sauce-5,.sauce-6,.sauce-7,.sauce-8,.sauce-9,.sauce-10,.sauce-11,.sauce-12,.sauce-13,.sauce-14,.sauce-15,.sauce-16,.sauce-17{
    background-image: url(images/sauce.jpg);
    -webkit-background-size: 600% 300%;
    background-size: 600% 300%;}
.sauce-1{background-position: -500% -100%;}
.sauce-2{background-position: -300% -100%;}
.sauce-3{background-position: -200% -100%;}
.sauce-4{background-position: -100% -100%;}
.sauce-5{background-position: 0% -100%;}
.sauce-6{background-position: -300% 0%;}
.sauce-7{background-position: -200% 0%;}
.sauce-8{background-position: -100% 0%;}
.sauce-9{background-position: 0% 0%;}
.sauce-10{background-position: -500% 0%;}
.sauce-11{background-position: -400% -200%;}
.sauce-12{background-position: -300% -200%;}
.sauce-13{background-position: -200% -200%;}
.sauce-14{background-position: -100% -200%;}
.sauce-15{background-position: 0% -200%;}
.sauce-16{background-position: -400% -100%;}
.sauce-17{background-position: -400% 0%;}

.beer-1,.beer-2,.beer-3,.beer-4,.beer-5,.beer-6,.beer-7,.beer-8,.beer-9,.beer-10,.beer-11,.beer-12,.beer-13,.beer-14,.beer-15,.beer-16{
    background-image: url(images/beer.jpg);
    -webkit-background-size: 600% 300%;
    background-size: 600% 300%;}
.beer-1{background-position: -500% 0%;}
.beer-2{background-position: -300% -100%;}
.beer-3{background-position: -200% -100%;}
.beer-4{background-position: -100% -100%;}
.beer-5{background-position: 0% -100%;}
.beer-6{background-position: -300% 0%;}
.beer-7{background-position: -200% 0%;}
.beer-8{background-position: -100% 0%;}
.beer-9{background-position: 0% 0%;}
.beer-10{background-position: -400% -200%;}
.beer-11{background-position: -300% -200%;}
.beer-12{background-position: -200% -200%;}
.beer-13{background-position: -100% -200%;}
.beer-14{background-position: 0% -200%;}
.beer-15{background-position: -400% -100%;}
.beer-16{background-position: -400% 0%;}

.p2-end{position: absolute;width: 100%;height: 100%;}
.fridge-text{
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%;
}
.choice-close{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 44%;
    margin-left: -22%;
}

.p3{background-color: #F4F3F2;    overflow-y: visible;width: 0;height: 0;top:100%;left:100%;}

.p3-floor{
    margin: 2%;
    margin-bottom: 0;
    position: relative;
    background-color: #fff;
    font-size: 0.14rem;
}
.floor1{margin-top: 25.6%;}
.floor-con{
    background-position: 0 -10%;
    background-size: 22%;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-left: 20%;
    font-size: 0.14rem;line-height: 0.22rem;
}
.con1{background-image: url(images/floor1-head.gif);}
.con2{background-image: url(images/floor2-head.gif);}
.con3-head{position: absolute;top:-16%;left:-2%;width: 22%;}
.con4,.con5,.con6{
    background-position: 1% 4%;
    background-size: 16%;
}
.con4{background-image: url(images/floor4-head.gif);}
.con5{background-image: url(images/floor5-head.png);}
.con6{background-image: url(images/floor6-head.png);}
.floor-name{width: 100%;}
.floor-con p{margin:0;}
.theme {color: #0070c0;}
.theme-con{color: #666;}
.floor-pic{width: 30%;margin:3% auto 6%;}
.floor-footer{color: #999;font-size: 0.12rem;line-height: 0.20rem;padding-bottom: 3%;}
.floor-footer span{display: inline-block;margin-right: 0.05rem;}
.fr{float: right;}
.fl{float: left;}
.discuss-write{    
    width: 30px;
    position: absolute;
    right: 4%;
    bottom: 3%;}

.bannerbox{position: fixed;top:0;left:0;height:auto;z-index: 10;font-size: 0px;}
.p3-banner,.p3-rule,.p3-vicinity,.floor-rule,.newchoice{width: 100%;font-size: 0px;}
.newchoice{height: 10%;position: relative;background-color: #262626;}
.banner-left,.banner-right{position: absolute;top:10%;width: 31%;}
.banner-left{left: 10%;}
.banner-right{right:10%;}


.shake{
    -webkit-animation: shake 1s ease infinite both;
    -o-animation: shake 1s ease infinite both;
    animation: shake 1s ease infinite both;
    opacity: 1;
}
@keyframes shake{
    0%, 100% {transform: scale(1,1);}
    50% {transform: scale(1.03,1.03);}
}
@-webkit-keyframes shake{
    0%, 100% {-webkit-transform: scale(1,1);}
    50% {-webkit-transform: scale(1.03,1.03);}
}