@charset "utf-8";
/* CSS Document */

/*CSS reset*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img{ border:none; }
img{display:block;}
ul,ol{list-style:none; }
a{ color:#3C3C3C; text-decoration:none;}
a:hover{ color:#f40;}
body{background:#fff; font-size:12px;}
.hot{ color:#f40 !important;}
.fl{ float:left;_display:inline;}
.fr{ float:right;_display:inline;}
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
i{
	font-family: 'iconfont';
	font-style:normal;
	}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	}
.clearfix{zoom:1;}
.hot{ color:#f40;}
.bd{ border:1px solid #eee;}
.mtf1{ margin-top:-1px;}
.mlf1{ margin-left:-1px;}   /*为什么不起作用 html699*/

/*========================================这是分隔线=====================================================*/


/*top样式开始*/
.top{
	background:#F5F5F5;
	}
.inTop{
	/*border:1px solid #000;*/
	width:1190px;
	height:36px;
	margin:0 auto;
	}
.inTop li{
	float:left;
	line-height:36px;
	}
.inTopLeft{
	/*border:1px solid #00F;*/
	/*width:240px;*/
	height:36px;
	}
.inTopLeft li{
	margin-right:20px;
	color:#E1DDE1;
	}
.inTopRight{
	/*border:1px solid #906;*/
	/*width:700px;*/
	height:36px;
	}
.inTopRight li{
	/*border:1px solid #0C3;*/
	}
.inTopRight li a{
	/*background:#009;*/
	display:block;
	}
.inTopRight li i{
	margin:0 16px 0 12px;
	}
.inTopRight li i.car,.inTopRight li i.star,.inTopRight li i.san{
	margin-right:6px;
	}
.inTopRight .star1:hover i{
	color:#6C6C6C;
	}
.inTopRight .star1:hover{
	background:#fff;
	}
.inTopRight .star1:hover .star{
	color:#f40;
	}
.inTopRight .four{
	color:#E1DDE1;
	}

/*top样式结束*/

/*banner样式开始*/
.banner{
	background:#5F06B8;
	}
.banner img{
	margin:0 auto;
	}
/*banner样式结束*/

/*header样式开始*/
.header{
	/*border:1px solid #000;*/
	width:1190px;
	height:100px;
	margin:0 auto;
	margin-top:30px;
	}
.header h1{
	/*border:1px solid #066;*/
	width:140px;
	height:58px;
	background:url(../images/sprites.png) no-repeat;
	margin:10px 110px 0 0;
	float:left;
	}
.header h1 a{
	/*background:#03F;*/
	display:block;
	height:58px;
	text-indent:-9999px;
	}
.searchArea{
	/*background:#03C;*/
	width:760px;
	height:86px;
	float:left;
	}
.searchArea ul{
	width:760px;
	height:25px;
	/*background:#0CC;*/
	}
.searchArea ul li{
	/*background:#999;*/
	float:left;
	line-height:25px;
	}
.searchArea ul li.current{
	background:#FF5400;
	}
.searchArea ul li.current a{
	color:#fff;
	font-weight:bold;
	}
.searchArea ul li a{
	margin:0 13px;
	line-height:25px;
	}
.searchArea form{
	width:760px;
	height:40px;
	/*background:#906;*/
	position:relative;
	}
.searchArea form input{
	width:600px;
	height:34px;
	border:3px solid #FF5500; 
	outline:none;  
	float:left;
	color:#9C9C9C;
	padding-left:18px;
	line-height:34px;
	}
.searchArea form button{
	width:100px;
	height:40px;
	background:#FF4200;
	border:0;
	font-size:20px;
	color:#fff;
	font-family:微软雅黑;
	float:left;
	}
.searchArea form button:hover{
	background:#FF0000;
	}
.searchArea form a{
	float:right;
	line-height:20px;
	/*color:#6C6C6C;*/
	}
.searchArea form .zoom{
	position:absolute;
	top:14px;
	left:7px;
	}
.searchArea form .camera{
	position:absolute;
	top:10px;
	right:150px;
	font-size:20px;
	color:#9C9C9C;
	}
.searchArea form .camera:hover{
	color:#333;
	}
.searchArea a{
	/*color:#333;*/
	}
.searchArea a:hover{
	/*color:#000;*/
	}
.hotWords{
	width:760px;
	height:35px;
	/*background:#9F3;*/
	position:relative;
	}
.hotWords a{
	margin-right:6px;
	line-height:32px;
	}
.hotWords .more{
	/*line-height:18px;*/
	}
.more{
	width:35px;
	height:18px;
	border:1px solid #EEEEEE;
	position:absolute;
	top:10px;
	right:32px;
	line-height:18px !important;
	padding-left:4px;
	}
.more em,.more span{
	width:0;
	height:0;
	font-size:0;
	_line-height:0;
	border:transparent solid 5px;
	_border-color:tomato;
	_filter:chroma(color=tomato);
	border-left-color:#DADADA;
	position:absolute;
	top:4px;
	left:30px;
	}
.more em{}
.more span{
	left:27px;
	border-left-color:#fff;
	}
.more:hover{
	background:#f40;
	color:#fff;
	}
.more:hover span{
	border-left-color:#f40;
	}
.code{
	width:94px;
	height:104px;
	float:right;
	margin-top:-20px;
	position:relative;
	padding-top:8px;
	text-align:center;
	color:#f40;
	border:1px solid #EEEEEE;
	}

.code img{
	margin:0 auto;
	}
.code i{
	width:18px;
	height:18px;
	position:absolute;
	top:0;
	left:-20px;
	border:1px solid #EEEEEE;
	color:#DFDFE3;
	text-align:center;
	line-height:18px;
	}
/*header样式结束*/

/*第一屏最外层结构样式开始*/
.wrap{
	width:1190px;
	/*border:1px solid #000;*/
	margin:0 auto;
	}
/*特色服务样式开始*/

.service{
	width:188px;
	height:523px;
	border:1px solid #f40;
	box-shadow:2px 2px 3px #ccc;
	}
.service h2{
	line-height:34px;
	color:#fff;
	background:#f40;
	padding-left:10px;
	font-weight:bold;
	font-size:16px;
	}
.service a{
	display:inline-block;
	line-height:25px;
	}
.service dt{
	font-size:14px;
	line-height:20px;
	color:#3C3C3C
	font-weight:bold;
	margin:9px 0 6px 14px;
	/*border:1px solid #000;*/
	}
.service dt s{
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:bottom;
	margin-right:9px;
	}
.service dt .themeMarket{
	background:url(../images/sprites.png) no-repeat -110px -98px;
	}
.service dt .shopping{
	background:url(../images/sprites.png) no-repeat -201px -104px;
	height:18px;
	}
.service dt .sale{
	background:url(../images/sprites.png) no-repeat -90px -98px;
	}
.cathook{
	padding-left:15px;
	/*background:#CF9;*/
	position:relative;
	}
.cathook a{
	width:36px;
	}
.cathook i{
	position:absolute;
	top:6px;
	right:10px;
	color:#f40;
	font-size:10px;
	}
.c1{ width:58px;}
.c2{ width:37px;}
.c3{ width:65px;}
.c4{ width:51px;}
.shoppingDd,.saleDd,.saleDd2{
	padding-left:15px;
	}
.saleDd2{
	border-top:1px solid #E6E7EB;
	margin-top:10px;
	padding-top:10px;
	}
.h{
	background:url(../images/h.gif) no-repeat 48px top;
	}

/*特色服务样式结束*/

/*首屏主体区域样式开始*/
.main{
	width:990px;
	height:540px;
	/*background:#FF9;*/
	}
/*导航结构样式开始*/
.nav{
	border-bottom:2px solid #f40;
	margin-bottom:7px;
	}
.nav ul{
	height:34px;
	}
.nav li{
	font-size:14px;
	line-height:30px;
	/*border:1px solid #000;*/
	float:left;
	margin-right:2px;
	margin:1px 2px 0 0;
	}
.orange{
	color:#f40;
	}
.nav li:hover{
	background:#F5F5F5;
	}
.nav li:hover a{
	color:#f40;
	}
.nav li a{
	margin:0 14px;
	}
/*导航结构样式结束*/

/*inMain样式开始*/
.inMain{
	width:990px;
	height:497px;
	/*background:#ccc;*/
	}
/*图片区域开始*/
.imgArea{
	width:693px;
	height:483px;
	/*background:#999;*/
	}
.promo{
	width:520px;
	height:280px;
	background:#039;
	margin-bottom:3px;
	overflow:hidden;
	position:relative;
	}
.promo ul{
	width:9000px;
	height:280px;
	left:0;
	}
.promo ul li{
	float:left;
	}
.imgArea ol{
	position:absolute;
	bottom:15px;
	left:50%;
	margin-left:-32px;
	background:rgba(255,255,255,0.3);
	border-radius:7px;
	_font-size:0;
	}
.imgArea  ol li{
	width:9px;
	height:9px;
	background:#B7B7B7;
	float:left;
	margin:2px;
	border-radius:7px;
	}
.imgArea  ol li.current{ background:#f40;}
.imgArea i{
	width:40px;
	height:40px;
	font-size:24px;
	position:absolute;
	top:115px;
	background:rgba(0,0,0,0.3);
	color:#fff;
	text-align:center;
	line-height:40px;
	display:none;
	}
.promo:hover i{
	display:block;
	}
.imgArea .left{
	left:5px;
	cursor:pointer;
	}
.imgArea .right{
	right:5px;
	cursor:pointer;
	}
.imgArea i:hover{
	background:rgba(0,0,0,0.5);
	}
.tanxUp{
	width:170px;
	height:280px;
	background:#90C;
	margin-bottom:3px;
	}
.tmall{
	width:520px;
	height:200px;
	background:#0C9;
	overflow:hidden;
	position:relative;
	}
.tmall ul{
	width:9000px;
	height:200px;
	left:0;
	}
.tmall ul li{
	float:left;
	}
.tmall ol{
	margin-left:-39px;
	background:none;
	_font-size:0;
	}
.tmall ol li{}
.tmall:hover i{
	display:block;
	}
.tmall i{
	top:80px;
	}
.tmall span{
	width:32px;
	height:11px;
	background:url(../images/sprites.png) no-repeat -146px -120px;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-16px;
	}
.tanxDown{
	width:170px;
	height:200px;
	background:#0C9;
	}
/*图片区域结束*/	

/*侧栏样式开始*/
.sidebar{
	width:290px;
	/*height:497px;*/
	/*background:#3CC;*/
	overflow:hidden;
	}
/*tab样式开始*/
.tab{}
.tabHd{
	/*border:1px solid #06C;*/
	width:300px;
	}
.tabHd ul{
	margin-left:-1px;
	width:300px;
	}
.tabHd li{
	/*border:1px solid #090;*/
	float:left;
	background:#F7F7F7;
	width:58px;
	border-bottom:1px solid #eee;
	}
.tabHd ul li.current{
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	border-bottom:0;
	font-weight:bold;
	background:#fff;
	}
.tabHd li a{
	padding:0  16px;
	line-height:26px;
	display:block;
	}
.tabBd{
	background:#fff;
	width:290px;
	height:72px;
	overflow:hidden;
	}
.tabBd ul{
	/*border:1px solid #039;*/
	margin:10px;
	}
.tabBd li{
	/*border:1px solid #93C;*/
	float:left;
	line-height:26px;
	margin-right:10px;
	}
.tabBd li.current{
	_width:260px;
	}
.tabBd li span{
	color:#ccc;
	}
/*tab样式结束*/

/*会员结构样式开始*/
.member{
	padding:10px;
	}
.memberHd{
	line-height:26px;
	}
.memberHd img{
	margin-right:10px;
	}
.memberHd p{
	/*border:1px solid #000;*/
	background:url(../images/member_money.png) no-repeat 68px center;
	padding-left:86px;
	}
.memberFt{
	margin:10px 0 5px 0;
	}
.memberFt a{
	background:#F40;
	width:75px;
	_width:70px;
	height:25px;
	display:inline-block;
	margin:0 3px;
	line-height:25px;
	text-align:center;
	color:#fff;
	}
.memberFt a:hover{
	background:#EF2621;
	}
.memberFt a.first{
	width:88px;
	}
/*会员结构样式结束*/

/*淘宝头条样式开始*/
.headline{
	padding:10px;
	}
.headline h2{
	width:55px;
	height:15px;
	background:url(../images/sprites.png) no-repeat -146px -104px;
	/*border:1px solid #090;*/
	float:left;
	}
.headline h2 a{
	display:block;
	height:15px;
	font-size:10px;
	text-indent:-9999px;
	}
.headline ul{
	/*border:1px solid #000;*/
	float:right;
	height:16px;
	overflow:hidden;
	}
.headline li{}
/*淘宝头条样式结束*/

/*便民结构样式开始*/
.convenient{}
.convenient ul{
	/*border:1px solid #000;*/
	width:300px;
	}
.convenient li{
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
	float:left;
	width:57px;
	height:69px;
	line-height:28px;
	text-align:center;
	padding-top:10px;
	}
.convenient li i{
	font-size:20px;
	color:#f40;
	}
.convenient li.first{
	width:115px;
	height:149px;
	}
.convenient li.first i{
	font-size:50px;
	margin:32px 0 20px 0;
	display:block;
	}
/*便民结构样式结束*/
/*侧栏样式结束*/
/*inMain样式结束*/
/*首屏主体区域样式结束*/

/*第一屏最外层结构样式结束*/

/*第二个最外层超大区域结构样式开始*/
.wrap{
	width:1190px;
	/*border:1px solid #000;*/
	}
/*超大内容栏结构样式开始*/
.content{
	width:890px;
	/*height:2000px;*/
	/*background:#FC0;*/
	overflow:hidden;
	}
/*当前热点区域样式开始*/
.hot-wrapper{
	width:890px;
	height:71px;
	border:1px solid #eee;
	}
.hot-wrapper dl{
	/*border:1px solid #000;*/
	float:left;
	line-height:20px;
	margin:15px 0 0 15px;
	}
.hot-wrapper dl.first{
	border-right:1px solid #eee;
	}
.hot-wrapper dt{
	/*border:1px solid #03F;*/
	width:35px;
	float:left;
	font-weight:bold;
	}
.hot-wrapper dd{
/*	border:1px solid #F00;*/
	_margin-left:0;
	float:left;
	}
.hot-wrapper dd a{
	width:64px;
	/*border:1px solid #0C0;*/
	display:inline-block;
	}
.scroll{
	border-left:1px solid #eee;
	float:left;
	padding:0 0 10px 0px;
	width:308px;
	position:relative;
	}
.scroll dd{
	float:left;
	}
.scroll dt{}
.scroll img:hover{
	margin-left:5px;
	}
.scroll i{
	width:12px;
	height:12px;
	border:1px solid #D4D4D4;
	position:absolute;
	right:0;
	color:#D4D4D4;
	cursor:pointer;
	}
.scroll i.up{
	top:25px;
	}
.scroll i.down{
	top:38px;
	color:#fff;
	background:#f40;
	border:1px solid #f40;
	}
.scroll i:hover{
	color:#fff;
	background:#f40;
	border:1px solid #f40;
	}
/*当前热点区域样式结束*/

/*服装鞋包样式开始*/
.market{
	padding:15px;
	margin:10px 0 14px 0;
	position:relative;
	}
.market:hover{
	border:1px solid #f40;
	z-index:1;
	position:relative;
	}
.market-hd{}
.market-hd h2{
	font-size:14px;
	line-height:22px;
	border-left:2px solid #f40;
	padding-left:14px;
	font-weight:bold;
	margin-right:10px;
	margin-left:-17px;
	}
.slogn-box{
	border:1px solid #F5DEAD;
	line-height:22px;
	padding:0 6px;
	background:#F8F5DA;
	border-radius:2px;
	}
.slogn-box a{
	color:#C65C22;
	position:relative;
	}
.slogn-box em,.slogn-box span{
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	border:transparent solid 6px;
	position:absolute;
	left:-18px;
	top:2px;
	}
.slogn-box em{
	border-right-color:#F5DEAD;
	}
.slogn-box span{
	left:-17px;
	border-right-color:#F8F5DA;
	}
	
.ifashion-links{
	/*border:1px solid #000;*/
	line-height:30px;
	margin-top:10px;
	width:410px;
	}
.ifashion-links a{
	margin-right:4px;
	}
.ifashion-pics{
	/*border:2px solid #f00;*/
	/*width:435px;*/
	height:280px;
	position:relative;
	margin-top:-22px;
	}
.ifashion-pics ul{
	/*border:1px solid #00C;*/
	}
.ifashion-pics li{
	/*border:1px solid #0CC;*/
	float:left;
	width:135px;
	margin-left:10px;
	
	}
.ifashion-pics li img{
	width:100%;
	}
.banner{
	position:relative;
	}
.banner p{
	width:135px;
	height:28px;
	background:rgba(255,68,0,0.7);
	position:absolute;
	bottom:0;
	left:0;
	color:#fff;
	text-align:center;
	line-height:28px;
	}
.banner:hover p{
	background:rgba(255,68,0,0.9);
	}
/*服装鞋包样式结束*/

/*运动户外和珠宝配饰部分样式开始*/
.market-wrapper{
	/*background:#CCC;*/
	width:900px;
	}
.market1{
	width:412px;
	float:left;
	}
.market2{
	width:415px;
	position:relative;
	margin-left:-1px;
	}
.market-hd{
	position:relative;	
	}
.market-hd .more{
	top:3px;
	right:0;
	display:none;
	}
.market1:hover .more{
	display:block;
	}
.market2:hover .more{
	display:block;
	}
.market-banners{
	margin:15px 0;
	}
.market-banners ul{
	border-bottom:1px solid #eee;
	padding-bottom:15px;
	
	}
.market-banners ul li{
	height:80px;
	width:201px;
	float:left;
	line-height:24px;
	}
.market-banners ul li img{
	float:left;
	margin:0 8px 0 0;
	}
.rmd-link{}
.rmd-link ul{
	/*border:1px solid #03C;*/
	width:200px;
	float:left;
	}
.rmd-link li{
	line-height:30px;
	float:left;
	}
.rmd-link li a{
	margin-right:6px;
	}
/*运动户外和珠宝配饰部分样式结束*/

/*广告条样式开始*/
.banner_1 img{
	margin:0px auto 15px;
	}
/*广告条样式结束*/

/*潮电街样式开始*/
.market-electronic{
	width:888px;
	}
.market-electronic:hover{
	border:1px solid #f40;
	z-index:1;
	position:relative;
	}
.market-electronic .more{
	display:none;
	}
.market-electronic:hover .more{
	display:block;
	}
.electronic-main{
	/*background:#ccc;*/
	width:560px;
	height:260px;
	}
.market3{
	margin-top:0;
	width:529px;
	height:230px;
	}、
.market3:hover{
	border:none;
	}
.market3 .market-hd h2 { 
	width:99px;
	height:19px;
	background: url(../images/sprites.png) no-repeat 15px -58px;    /*为什么图片看不到呢？？？*/
	padding-left:10px;
	}
.market3 .market-hd h2 a{
	text-indent:-9999px;
	display:block;
	height:19px;
	}
.market3 .market-banners ul{
	padding-bottom:4px;
	}
.market3 .market-banners ul li{
	width:176px;
	}
.rem-link1 ul{
	width:224px;
	}
.rem-link1 ul.two{
	width:300px;
	}
.electronic-rmd{
	width:320px;
	height:260px;
	background:#ccc;
	position:relative;
	}
.electronic-rmd p{
	font-size:14px;
	color:#fff;
	position:absolute;
	top:63px;
	left:10px;
	width:100px;
	background:rgba(0,0,0,0.5);
	padding:5px;
	}
.electronic-rmd p span{
	font-size:16px;
	}
.electronic-rmd-links{
	background:#F2F2F2;
	line-height:26px;
	padding:12px 0 17px 20px;
	}
.electronic-rmd-links a{
	/*border:1px solid #0CC;*/
	width:130px;
	display:inline-block;
	}
/*潮电街样式结束*/

/*汇吃和孕婴童部分样式开始*/
.market-hd-huichi{}
.market-hd-huichi h2{
	/*border:1px solid #000;*/
	width:45px;
	height:20px;
	background:url(../images/sprites.png) no-repeat -90px -78px;
	padding-left:10px;
	margin-left:0px;
	border:0;
	}
.market-hd-huichi h2 a{
	display:block;
	height:20px;
	text-indent:-9999px;
	}
.market-banners-1 ul li{
	width:72px;
	margin:0 15px;
	}
.rmd-link1 ul.first{
	width:210px;
	}
.market-banners2 .second{
	margin-left:12px;
	}
.rmd-link2 .second{
	margin-left:13px;
	}
/*汇吃和孕婴童部分样式结束*/

/*极有家样式开始*/
.have-home{
	/*border:1px solid #0F0;*/
	width:536px;
	position:relative;
	}
.market-hd-1{
	/*border:1px solid #0F6;*/
	width:536px;
	}
.market-hd-1 h2{
	width:75px;
	height:20px;
	background:url(../images/sprites.png) no-repeat -146px -33px;
	padding-left:10px;
	margin-left:0px;
	border:0;
	margin-bottom:5px;
	}
.market-hd-1 h2 a{
	display:block;
	height:20px;
	text-indent:-9999px;
	}
.market-hd-1 p{
	float:right;
	line-height:20px;
	}
.market-hd-1 p i{
	margin:0 4px;
	color:#D9CECE;
	}
.ifashion-links-1{
	/*border:1px solid #000;*/
	width:190px;
	}
.ifashion-pics-1{
	position:absolute;
	top:40px;
	right:6px;
	height:200px;
	}
.ifashion-pics-1 .banner{
	margin-bottom:5px;
	width:170px;
	height:110px;
	overflow:hidden;
	zoom:1;
	}
.ifashion-pics-1 ul{
	margin-right:25px;
	}
.ifashion-pics-1 li{
	margin-left:40px;
	}
.ifashion-pics-1 p{
	width:70%;
	float:left;
	text-align:center;
	background:rgba(255,255,255,0.7);
	color:#333;
	}
.ifashion-pics-1 .banner:hover p{
	background:rgba(255,255,255,0.9);
	color:#f40;
	}
.ifashion-pics-1 span{
	width:30%;
	float:right;
	position:absolute;
	bottom:0px;
	right:0px;
	height:28px;                  
	line-height:28px;
	background:rgba(255,180,0,0.7);
	text-align:center;
	color:#fff;
	}
.ifashion-pics-1 .banner:hover span{
	background:rgba(255,180,0,0.9);
	color:#f40;
	}
.have-home-right{
	/*border:2px solid #F00;*/
	position:absolute;
	top:0px;
	right:0px;
	height:305px;
	}
.have-home-right ul{
	/*border:1px solid #000;*/
	height:58px;
	background:#FFD255;
	}
.have-home-right li{
	float:left;
	/*border:1px solid #f00;*/
	margin:10px 25px 0 10px;
	}
.have-home-right li em{
	font-style:normal;
	}
.have-home-right li img{
	float:left;
	margin-right:5px;
	border-radius:18px;
	}
.have-home-right li img:hover{
	box-shadow:2px 2px 2px #ccc;
	}
.have-home-right p{
	width:150px;
	top:144px;
	}
.electronic-rmd-links-1{
	padding:6px 0 9px 20px;
	background:#FFF8E3;
	}
/*极有家样式结束*/

/*吃喝玩乐与护肤彩妆样式开始*/

/*吃喝玩乐与护肤彩妆样式结束*/

/*汽车用品与花鸟文娱样式开始*/

/*汽车用品与花鸟文娱样式结束*/

/*生活服务样式开始*/
.market-life{
	width:878px;
	/*height:252px;*/
	/*border:1px solid #000;*/
	}
.market-tabs{}
.market-tabs ul{
	/*border:1px solid #0F0;*/
	}
.market-tabs li{
	float:left;
	border-top:2px solid #fff;
	}
.market-tabs li.current{
	border-top:2px solid #f00;
	}
.market-tabs li:hover{
	border-top:2px solid #f00;
	}
.market-tabs li a{
	font-size:14px;
	font-weight:bold;
	line-height:30px;
	border-right:1px solid #E8E8E8;
	margin:5px 0;
	padding:0 15px;
	display:inline-block;
	}
.market-tabs li a.last{
	border-right:0;
	}
.market-pannels{
	width:878px;
	height:200px;
	/*background:#FFC;*/
	}
.market-pannels-life{
	width:556px;
	overflow:hidden;
	}
.market1-life{
	width:550px;
	padding-top:0;
	border:0;
	}
.market1-life:hover{
	border:0;
	}
.rmd-life li{
	width:170px;
	height:110px;
	float:left;
	margin-right:10px;
	margin-bottom:5px;
	margin:0 10px 5px 0;
	position:relative;
	}
.rmd-life li img{
	width:100%;
	}
.rmd-life li p{
	width:170px;
	height:30px;
	background:rgba(255,255,255,0.7);
	position:absolute;
	bottom:0;
	left:0;
	line-height:30px;
	text-align:center;
	}
.rmd-life li:hover p{
	background:rgba(255,255,255,0.9);
	color:#f40;
	}
.rmd-life li:hover span{
	width:170px;
	height:110px;
	background:rgba(255,255,255,0.2);
	position:absolute;
	bottom:0;
	left:0;
	}
.rmd-link-life ul{
	width:181px;
	}
.life-photo{
	position:relative;
	}
.life-photo:hover span{
	width:320px;
	height:180px;
	background:rgba(255,255,255,0.2);
	position:absolute;
	bottom:0;
	left:0;
	}
/*生活服务样式结束*/

/*超大内容栏结构样式结束*/

/*超大侧栏结构样式开始*/
	.sidebar{
	/*background:#FF9;*/
	}

/*阿里APP样式开始*/
	.apps{
		width:258px;
		/*height:105px;*/
		padding:15px;
		position:relative;
		}
	.apps h2{
		font-weight:bold;
		line-height:32px;
		/*border:1px solid #060;*/
		}
	.apps .more{
		position:absolute;
		top:23px;
		right:15px;
		}
	.apps ul{
		/*border:1px solid #000;*/
		}
	.apps ul li{
		float:left;
		margin:0 -4px;
		overflow:none;
		padding:6px 0 0 9px;
		width:50px;
		height:55px;
		}
	.apps ul li.current{
		width:50px;
		height:55px;
		background:url(../images/apps-6-bg.png) no-repeat 3px 0px;
		}
	.apps ul li:hover{
		background:url(../images/apps-6-bg.png) no-repeat 3px 0px;
		}
	.apps ol{
		/*border:1px solid #000;*/
		height:26px;
		overflow:hidden;
		}
	.apps ol li{
		line-height:30px;
		}
	.apps ol li strong{
		color:#333;
		}
/*阿里APP样式结束*/

/*淘宝故事样式开始*/
	.story{
		width:288px;
		/*height:144px;*/
		padding:12px;
		}
	.story h2{
		line-height:22px;
		}
	.story-hd{
		/*border:1px solid #000;*/
		position:relative;
		}
	.story-hd a{
		float:left;
		margin:15px 0 0 6px;
		}
	.story-hd .first{
		width:136px;
		height:60px;
		border:1px solid #f40;
		display:block;
		padding-top:8px;
		margin:4px 0 0 0;
		line-height:22px;
		}
	.story-hd .first img{
		padding-left:4px;
		float:left;
		margin-right:6px;
		}
	.story-hd span{
		width:20px;
		height:19px;
		background:url(../images/taobao-story-4-bg.png) no-repeat;
		position:absolute;
		top:5px;
		right:149px;
		}
/*淘宝故事样式结束*/

/*发现好店样式开始*/
	.discover{
		width:260px;
		/*height:2142px;*/
		background:#F7F7F7;
		padding:20px 14px;
		position:relative;
		}
	.discover h2{
		width:90px;
		height:20px;
		background:url(../images/sprites.png) no-repeat 0 -78px;
		text-indent:-9999px;
		margin-bottom:15px;
		}
	.discover em{
		font-style:normal;
		border:1px solid #f40;
		padding:0 5px;
		background:#fff;
		color:#f40;
		position:absolute;
		top:18px;
		right:14px;
		}
	.discover em:hover{
		background:#f40;
		color:#fff;
		}
	.discover1{
		height:1420px;
		}
	.discover1-hd ul{
		background:#FFf;
		}
	.discover1-hd li{
		border-top:1px solid #EEEEEE;
		padding:22px 15px;
		position:relative;
		cursor:pointer;
		}
	.discover1-hd li img{
		float:left;
		margin-right:8px;
		}
	.discover1-hd li p{
		line-height:25px;
		}
	.discover1-hd li span{
		position:absolute;
		bottom:-31px;
		left:0;
		width:257px;
		background:#F7F7F7;
		line-height:30px;
		border-bottom:1px solid #F7F7F7;
		display:none;
		}
	.discover1-hd li span a{
		margin:0 22px;
		}
	.discover1-hd li:hover span{
		display:block;
		z-index:1;
		}
	.discover1-hd li:hover b{
		width:100px;
		height:100px;
		background:rgba(255,255,255,0.3);
		position:absolute;
		bottom:20px;
		left:15px;
		}
	.discover-ft{
		height:260px;
		background:#fff;
		padding:20px 18px;
		position:relative;
		border-top:1px solid #eee;
		}
	.discover-ft ul{
		/*border:1px solid #000;*/
		width:250px;
		}
	.discover-ft li{
		float:left;
		margin:0 6px 10px 0;
		position:relative;
		}
	.discover-ft li a{
		position:relative;
		}
	.discover-ft li span{
		width:54px;
		height:54px;
		background:#f40;
		display:block;
		position:absolute;
		top:0;
		left:0;
		text-align:center;
		color:#fff;
		padding:8px;
		display:none;
		}
	.discover-ft li:hover span{
		display:block;
		top:-70px;                    
		}
	.discover-ft p{
		background:#E9E9E9;
		height:36px;
		width:258px;
		position:absolute;
		bottom:0;
		left:0;
		line-height:36px;
		text-align:center;
		color:#666;
		cursor:pointer;
		}
	.discover-ft p:hover{
		color:#000;
		}
	.discover-ft p i{
		font-size:20px;
		}
	.discover .two-1{
		margin:60px 0 13px 0;
		}
	.discover .two-2{
		position:absolute;
		bottom:688px;
		left:113px;
		}
	.discover2{
		/*height:650px;*/
		background:#fff;
		}
	.discover2 ul{
		/*border:1px solid #000;*/
		width:245px;
		}
	.discover2 li{
		/*border:1px solid #eee;*/
		overflow:hidden;
		zoom:1;
		padding:14px 14px;
		width:230px;
		}
	.discover2 li:hover{
		border:1px solid #f40;
		}
	.discover2 li strong{
		font-size:14px;
		}
	.discover2 li p{
		line-height:36px;
		}
	.discover2 li span{
		margin:0 8px;
		color:#ccc;
		}
	.discover2 li img{
		float:left;
		margin-right:8px;
		}
	.discover2 li img.third{
		margin-right:0;
		}
	.discover2 .refresh{
		display:block;
		line-height:30px;
		background:#eee;
		text-align:center;
		color:#666;
		cursor:pointer;
		}
	.discover2 .refresh i{
		font-size:20px;
		}
	.discover2 .refresh:hover{
		color:#000;
		}
/*发现好店样式结束*/

/*超大侧栏最下面banner样式开始*/
	.tanx-wrapper{
		cursor:pointer;
	}
/*超大侧栏最下面banner样式结束*/

/*超大侧栏结构样式结束*/

/*第二个最外层超大区域结构样式结束*/

/*众筹，全球购。。。样式开始*/
.channel{
	width:1191px;
	/*height:365px;*/
	/*background:#FCC;*/
	margin:10px auto;
	}
.channel ul{}
.channel li{
	/*width:369px;*/
	border:1px solid #eee;
	padding:10px 14px;               /*谷歌不兼容*/
	float:left;
	}
.channel li:hover{
	border:1px solid #f40;
	z-index:1;
	position:relative;
	}
.channel li h2{
	font-size:16px;
	font-weight:bold;
	}
.channel-hd{
	position:relative;
	}
.channel-hd a{}      /*为什么给他相对定位不行呢？为什么给他爷爷定位就可以？channel-hd  channel-hd a  channel-hd a span*/
.channel-hd img{
	margin:8px 0;
	}
.channel-hd p{
	text-align:center;
	line-height:20px;
	padding-bottom:5px;
	}
.channel-hd em{
	font-style:normal;
	color:#999;
	}
.channel-hd a:hover span{
	width:169px;
	height:100px;
	background:rgba(255,255,255,0.2);
	position:absolute;
	top:0px;              
	left:0;
	}

.channel-bd{
	margin-top:12px;
	}
.channel-bd a{
	text-align:center;
	line-height:26px;
	}

	
	/*我只添加了这一句*/
	.channel .channel-ft p em{margin:0 3px;}

.channel-ft p{
	line-height:26px;
	}
.channel-ft em{
	font-style:normal;
	color:#999;
	}
.channel-bd-last{
	border:1px solid #eee;
	background:url(../images/sprites.png) no-repeat -60px -132px;
	}
.channel-bd-last p{
	/*border:1px solid #000;*/
	line-height:20px;
	font-size:14px;
	float:right;
	margin-top:20px;
	}
.channel-bd-last img{
	float:right;
	margin:10px;

	}
.channel .plane{
	padding-right:16px;
	}
/*众筹，全球购。。。样式结束*/

/*爱旺街样式开始*/
.love{
	width:1188px;
	/*background:#FCF;*/
	margin:0 auto;
	position:relative;
	padding:5px 0 20px 0;
	}
.love h2{
	width:62px;
	height:20px;
	background:url(../images/sprites.png) no-repeat -146px -84px;
	margin:10px 0;
	}
.love h2 a{
	display:block;
	/*background:#306;*/
	text-indent:-9999px;
	height:20px;
	margin:10px 0;
	}
.love i{
	position:absolute;
	top:15px;
	left:70px;
	font-size:20px;
	}
.love .more{
	top:15px;
	right:0px;
	}
.love ul{}
.love li{
	width:148px;
	float:left;
	margin-right:12px;
	/*border:1px solid #000;*/
	position:relative;
	}
.love li img{
	width:100%;
	}
.love li p{
	width:148px;
	height:25px;
	background:rgba(255,255,255,0.5);
	position:absolute;
	bottom:0;
	left:0;
	line-height:25px;
	text-align:center;
	}
.love li:hover p{
	background:rgba(255,255,255,0.7);
	}
.love li.six{
	margin:0 30px 0 18px;
	width:180px;
	}
.love li.six img{
	width:100%;
	}
.love li.six p{
	width:180px;
	}
.love li:hover a span{
	width:148px;
	height:180px;
	background:rgba(255,255,255,0.2);
	position:absolute;
	top:0;
	left:0;
	}
.love li.six:hover a span{
	width:180px;
	}
.love li.last{
	/*border:1px solid #000;*/
	}
.love li.last a{
	width:70px;
	line-height:24px;
	}
.love li.last img{
	width:100%;
	margin-bottom:9px;
	}
.love li.last .left{
	float:left;
	}
.love li.last .right{
	float:right;
	}

/*爱旺街样式结束*/

/*农业，生活汇。。。样式开始*/
.agriculture li{
	padding-right:15px;
	}
.agriculture li.last{
	padding-left:17px;
	padding-right:17px;
	}
/*农业，生活汇。。。样式结束*/

/*热卖单品样式开始*/
.hotSale{
	width:1188px;
	/*height:590px;*/
	/*border:1px solid #000;*/
	margin:20px auto;
	}
.hotSale-hd{
	width:1188px;
	/*background:#CCF;*/
	}
.hotSale-hd h2{
	font-size:18px;
	font-weight:bold;
	line-height:35px;
	}
.hotSale-hd-nav{
	line-height:35px;
	}
.hotSale-hd-nav span{
	margin:0 7px 0 10px;
	color:#ccc;
	}
.hotSale-bd{
	/*background:#FFC;*/
	} 
.hotSale-bd ul{
	/*background:#06F;*/
	width:1192px;
	}
.hotSale-bd li{
	float:left;
	padding:10px;
	border:1px solid #eee;
	line-height:22px;
	}
.hotSale-bd li img{
	margin-bottom:6px;
	margin-top:4px;
	}
.hotSale-bd li.san{
	width:216px;
	height:388px;
	position:relative;
	}
.hotSale-bd li.san strong{
	font-size:14px;
	color:#f40;
	}
.hotSale-bd li.second{
	padding:0;
	}
.hotSale-bd li.second img{
	margin-top:14px;
	}
.hotSale-bd li.second:hover{
	border:1px solid #eee;
	}
.hotSale-bd li.second strong{
	color:#f40;
	}
.hotSale-bd li.second a{
	border:1px solid #eee;
	display:block;
	padding:0 9px;
	margin-left:-1px;
	}
.hotSale-bd li.second a:hover{
	border:1px solid #f40;
	position:relative;
	z-index:1;
	}
.hotSale-bd li p{}
.hotSale-bd li:hover{
	border:1px solid #f40;
	position:relative;
	z-index:1;
	}
.hotSale-bd li b{
	font-weight:normal;
	position:absolute;
	bottom:10px;
	left:10px;
	}
.hotSale-bd li i{
	background:#8DC04D;
	color:#fff;
	padding:0 2px;
	}
.hotSale-ft{
	width:1192px;
	/*margin-top:-2px;            为什么加了这个之后，没反应？？？就是不上去*/     
	}
.hotSale-ft a{
	float:left;
	padding:10px;
	padding-left:11px;
	border:1px solid #eee;
	display:block;
	}
.hotSale-ft a:hover{
	border:1px solid #f40;
	position:relative;
	z-index:1;
	}
/*热卖单品样式结束*/

/*消费者保障样式开始*/
.helper{
	/*background:#9FF;*/
	width:1188px;
	margin:0 auto;
	}
.helper ul{
	/*border:1px solid #0C0;*/
	}
.helper li{
	border-right:1px solid #eee;
	float:left;
	padding:0 70px 0 30px;
	margin:30px 0 40px 0;
	}
.helper li.last{
	border:0;
	}
.helper li h2{
	font-size:16px;
	font-weight:bold;
	line-height:58px;
	}
.helper li h2 i{
	font-size:30px;
	color:#9C9C9C;
	}
.helper li p a{
	color:#9C9C9C;
	}
.helper li p a:hover{
	color:#f40;
	}
/*消费者保障样式结束*/

/*版权样式开始*/
.copy{
	width:1188px;
	/*border:1px solid #000;*/
	margin:0 auto;
	}
.copy a{
	color:#6C6C6C;
	}
.copy a:hover{
	color:#f40;
	}
.copy-hd{}
.copy-hd p{
	color:#6C6C6C;
	border-top:2px solid #f40;
	border-bottom:1px solid #eee;
	line-height:26px;
	padding:13px 0;
	}
.copy-hd span{
	margin:0 7px 0 9px;
	}
.copy-bd{}
.copy-bd p{
	margin:10px 0;
	}
.copy-bd p a{
	margin-right:10px;
	}
.copy-bd span{
	line-height:20px;
	color:#9C9C9C;
	}
.copy-ft{}
.copy-ft a{
	float:left;
	margin:12px 15px 5px 0;
	background:#C3C;
	}
/*版权样式结束*/