@charset "utf-8"; /* CSS Document */ 
/*css reset 开始*/ 
/*初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img{ border:none; }
img{display:block;}
li{list-style:none; }
a{ color:#fff; text-decoration:none;}
a:hover{ color:#50C8D7; text-decoration:none;}
body{min-width: 1124px;color:#A0A0A0; background:#fff;font-size: 14px; font-family: 'Microsoft Yahei','微软雅黑', \5FAE\8F6F\96C5\9ED1,'宋体',\5b8b\4f53,arial,'Hiragino Sans GB',Tahoma,Arial,Helvetica; } 
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
.clearfix{zoom: 1;}
.fl{float: left;}
.fr{float: right;}

/*====================== 这里是分割线 =====================*/

/*头部样式开始*/
	.header{
		height: 50px;
		background: #111111;
		padding:0 50px;
	}
	.header h1{
		text-indent: -9999px;
		color:#fff;
		width: 135px;
		height: 27px;
		margin-top: 12px;
		margin-right: 29px;
		/*border:1px solid red;*/
		background: url(../images/logo.png);
	}
	.header h1 a{
		width:135px;
		height: 27px;
		display: block;
	}
	.header ul{
		width:470px;
		height:30px;
		margin-top: 20px;
		/*border:1px solid blue; */
	}
	.header ul li{
		float: left;
		line-height: 30px;
		padding: 0 21px;
	}
	.header ul li a{
		display: inline-block;
		/*border:1px solid red;*/
		position: relative;
	}
	.header ul li.current a{color:#50C8D7;}
	.header ul li a span{
		color: #FF5B54;
		position: absolute;
		top:-8px;
		right:-32px;
	}
	.header .login{
		width: 260px;
		height: 26px;
		margin-top: 14px;
		/*border:1px solid blue;*/
	}
	.header .login em{
		display: inline-block;
		float: left;
		width: 16px;
		height: 26px;
		cursor: pointer;
		/*border:1px solid red;*/
		margin-right: 22px;
		background: url(../images/searBtn.png) no-repeat left center;
	}
	.header .login a{
		display: inline-block;
		float: left;
		color: #A0A0A0;
		/*border:1px solid red;*/
		line-height: 26px;
		padding:0 13px;
	}
	.header .login a:hover{color:#50C8D7;}
	.header .login .inLogin{border-right: 1px solid #3D3D3D;}
	.header .login a.last{
		float: right;
		width:84px;
		height: 25px;
		color: #fff;
		border-radius: 12px;
		line-height: 25px;
		text-align: center;
		background: #03AEBA;

	}
	.header .login a.last:hover{color:#fff;background: #01C0CE;}
	.twoNav{
		width: 100%;
		height: 50px;
		border-bottom: 3px solid #50C8D7;
		background: #2F2F2F;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
	}
	.inTwoNav{
		width: 1000px;
		height: 50px;
		margin: 0 auto;
	}
	.inTwoNav ul{
		font-size: 18px;
		height: 50px;
		float: left;
	}
	.inTwoNav ul li{
		float: left;
		margin-right: 3px;
	}
	.inTwoNav ul li a{
		display: block;
		width: 80px;
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
	.inTwoNav ul li.current a{
		background: #50C8D7;
	}
	.inTwoNav ul li a:hover{
		color: #fff;
		background: #50C8D7;
	}
	.inTwoNav .rightBtn{
		margin-top: 9px;
		display: block;
		width: 200px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: #50C8D7;
		border-radius: 15px;
	}
	.inTwoNav .rightBtn:hover{
		color: #fff;
		background: #72D8E5;
	}
/*头部样式结束*/

/*====================== 这里是分割线 =====================*/


/*底部关于我们和版权部分样式开始*/
	.footer{height: 320px;padding-top:56px;background: url(../images/ft_bg.png) repeat;}
	.inFooter{width: 820px;margin: 0 auto ;}
	.footer dl{width:180px;float: left;}
	.footer dt{
		font-size: 16px;
		line-height: 20px;
		color: #50C8D7;
		margin-bottom: 15px;
	}
	.footer dd{
		font-size: 14px;
		padding-left: 20px;
		background: url(../images/hf_bg.png) no-repeat 0 -22px;
	}
	.footer dt em{font-size: 12px;}
	.footer dd a{color:#818181;line-height: 24px;}
	.footer dd a:hover{color:#818181;text-decoration: underline;}
	.footer dl.code{width:98px;float: right;}
	.footer dl.code dd{padding-left: 0;}
	.footer dl.code a{
		font-size:12px;
		padding-left:25px;
		background: url(../images/sina_icon.png) no-repeat left center;}
	.footer .code .weixin{display: inline-block; background-image: url(../images/weixin_icon.png);margin-bottom: 8px;}
	.footer .copyRight p{
		line-height: 70px;
		margin-top: 50px;
		text-align: center;
		display: block;
		width:100%;
		height: 70px;
		/*border:1px solid red;*/
		background: rgba(0,0,0,0.3);
		background: #212121\9;
	}
/*底部关于我们和版权部分样式结束*/


/*注册区域样式开始*/
	.register{
		width:100%;
		height:70px;
		position: fixed;
		bottom:0;
		left: 0;
		background:url(../images/register_bg.png);	
	}
	.register s{
		width:19px;
		height:19px;
		position: absolute;
		bottom:26px;
		right: 28px;
		cursor: pointer;
		background:url(../images/foot_icos.png) -22px -126px;
	}
	.inRegister {
		width:1124px;
		height:100%;
		margin:0 auto;
		/* border: 1px solid pink; */
	}
	.inRegister span{
		float: left;
		/* border: 1px solid #f00; */
		display: inline-block;
		width:333px;
		height:23px;
		margin:24px 0 0 85px;
		background:url(../images/foot_text.png); 
	}
	.inRegister ul{
		float: right;
		/* border: 1px solid #fff; */
		margin:20px 90px 0 0; 
	}
	.inRegister ul li{
		width:138px;
		height:34px;
		margin-right: 10px;
		float: left;
	} 
	.inRegister ul li a{
		display: inline-block;
		width:100%;
		height:100%;
	}
	.inRegister_bg01{background: url(../images/foot_icos02.png);}
	.inRegister_bg02{background: url(../images/foot_icos02.png) 0 -60px;}
	.inRegister_bg03{background: url(../images/foot_icos02.png) 0 -128px;}
	.inRegister_bg04{background: url(../images/foot_icos02.png) 0 -188px;}
	.inRegister_bg01:hover{background: url(../images/foot_icos02.png) -162px 0;}
	.inRegister_bg02:hover{background: url(../images/foot_icos02.png) -162px -60px;}
	.inRegister_bg03:hover{background: url(../images/foot_icos02.png) -162px -128px;}
	.inRegister_bg04:hover{background: url(../images/foot_icos02.png) -162px -188px;}
/*注册区域样式结束*/
