

/*banner部分样式开始*/
	body{background: #EFEFEF;}
	.banner{width:100%; height: 398px;position: relative;;overflow: hidden;border-bottom: 3px solid #50C8D7;}
	.banner img{
		height: 348px;
		position: absolute;
		left: 50%;
		margin-left: -960px;
	}
	.banner p{padding-left: 335px; color: #fff; margin-top: 348px; height: 50px; line-height: 50px; background: #2F2F2F; _padding-top: 10px;}
	.banner p a{
		display: inline-block;
		width: 200px;
		height: 30px;
		border-radius: 15px;
		margin-left: 255px;
		text-align: center;
		line-height: 30px;
		color: #fff;
		background: #50C8D7;
	}
	.banner p a:hover{_color: #fff;background: #72D8E5;}
	.banner ul{
		width: 970px;
		padding:0 15px;
		/*border:1px solid red;*/
		position: absolute;
		top:95px;
		left:50%;
		margin-left: -500px;
	}
	.banner ul li{
		width:152px;
		height: 152px;
		margin-right: 52px;
		float: left;
	}
	.banner ul li a{
		/*border:1px solid red;*/
		display: inline-block;
		width: 152px;
		height: 152px;
		border-radius: 76px;
	}
	.banner li.nav01 a{background: url(../images/list/list_bigNav1.png) no-repeat -10px -174px;}
	.banner li.nav02 a{background: url(../images/list/list_bigNav2.png) no-repeat -7px -11px;}
	.banner li.nav03 a{background: url(../images/list/list_bigNav3.png) no-repeat -7px -11px;}
	.banner li.nav04 a{background: url(../images/list/list_bigNav4.png) no-repeat -8px -11px;}
	.banner li.nav05 a{background: url(../images/list/list_bigNav5.png) no-repeat -7px -11px;}
	
	.banner ul li.current a{background-position:-10px -6px;}
	.banner li.nav01 a:hover{background-position:-10px -6px;}
	.banner li.nav02 a:hover{background-position:-7px -183px;}
	.banner li.nav03 a:hover{background-position:-7px -183px;}
	.banner li.nav04 a:hover{background-position:-8px -184px;}
	.banner li.nav05 a:hover{background-position:-7px -183px;}
/*banner部分样式结束*/


/*主题部分样式开始*/
	.main{width:1000px;margin: 0 auto; padding-top: 25px;	}
	.main-hd{height: 35px; background: #fff; margin-bottom: 25px;padding:17px 17px 0;}
	.main-hd ul{height: 20px;}
	.main-hd ul li{float: left;margin-right: 25px;}
	.main-hd li a{color: #959595; }
	.main-hd li a:hover{text-decoration: underline;}
	.main-hd ul li.all a{background: #3D3D3D;padding:0 5px; color: #fff;}
	.main-hd ul li.first{padding-left: 24px; background: url(../images/list/main-nav-prev.png) no-repeat left center;margin-right: 35px; }

	.main-left{width: 660px;}
	.main-left ul li{float: left;margin-right: 20px; margin-bottom: 20px; }
	.main-left .li-img{width: 320px; height:204px;position: relative;}
	.main-left .li-img img{
		width:320px;
		height: 204px;
	}
	.main-left .li-img em{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		background: #000;
		opacity:0.6;
		filter:alpha(opacity=60);
		display: none;
		cursor: pointer;
	}
	.main-left .li-img span{
		position: absolute;
		top:83px;
		left: 95px;
		width: 126px;
		height: 32px;
		text-align: center;
		color: #50C8D7;
		line-height: 32px;
		border:2px solid #50C8D7;
		display: none;
		cursor: pointer;
	}
	.main-left .li-img s{width:55px;height: 55px;display: block;/*border:1px solid red;*/position: absolute;top:0;left: 0;background: url(../images/list/list_jiaob.png) no-repeat 0 0;}
	.main-left .li03 .li-img s{background-position: 0 -68px;}
	.main-left .li04 .li-img s{background-position: 0 -135px;}
	.main-left .li05 .li-img s{background-position: 0 -201px;}


	.main-left .li-img:hover em,.main-left .li-img:hover span{display: block;}
	.main-left .li-bd{
		width:280px;
		padding:10px 20px 0;
		height: 90px;
		color: #B5B5B5;
		background: #fff;
		position: relative;
	}
	.main-left .li-bd a{ color:#707070; font-size: 15px;}
	.main-left .li-bd a:hover{text-decoration: underline;}
	.main-left .li-bd em{color: #7DC2C6; font-style: normal;}
	.main-left .li-bd span {
		width:280px;
		/*border:1px solid red;*/
		position: absolute;
		bottom:15px;
		left: 20px;
	}
	.main-left .li-bd i{font-style: normal;}
	.main-left .li-bd .L{float: left;}
	.main-left .li-bd .R{float: right;}

	.main-left .page{/*border:1px solid red;*/ text-align: center; height: 24px; line-height: 24px;margin-top: 20px;margin-bottom: 124px;}
	.main-left .page a{color: #666666; line-height: 24px;padding:0 10px;}
	.main-left .page a:hover{color: #fff; border-radius: 4px; background: #4EC9D6;}
	.main-left .page a.current{color: #fff; border-radius: 4px; background: #4EC9D6;}

	.main-right{width: 260px;/*border:1px solid blue;*/padding:30px 30px 20px; background: #fff;}
	.right-hd,.right-bd{width:260px;border-bottom: 1px solid #E8E8E8; padding-bottom: 20px;}
	.right-hd img{/*border:1px solid red;*/}
	.main-right h3{font-size: 18px;
	color: #3D3D3D;line-height: 34px; margin: 27px 0 15px;}
	.right-hd span{
		display: block;
		width:260px;
		/*border:1px solid red;*/
	}
	.right-hd span a{
		display: inline-block;
		float: left;
		font-size: 12px;
		margin-right: 5px ;
		margin-bottom: 10px;
		border-radius: 9px;
		color: #fff;
		background: #AAAAAA;
		_height: 18px;
		line-height: 18px;
		padding: 0 9px;
	}
	.right-hd span a:hover{
		background: #3D3D3D;
	}
	
	.right-bd ul{margin-bottom: 20px;/*border:1px solid red;*/}
	.right-bd ul li{
		float: left;
		margin-right: 11px;
	}
	.right-bd a{
		display: inline-block;
	}
	.right-bd ul a img{
		display: inline-block;
		width:53px;
		height: 53px;
		border-radius: 27px;
		border:1px solid #DDD;
	}
	.right-bd-img a{/*border:1px solid red;*/margin-bottom: 10px;}
	.right-bd-img img{
		width:260px;
		height: 145px;
	}

	.right-ft h3 a{
		font-size: 13px;
		color: #2F2F2F;
	}
	.right-ft h3 a:hover{
		_color: #2F2F2F;
		text-decoration: underline;
	}
	.right-ft-img p{
		/*display: block;*/
		padding:8px 10px;
		line-height: 18px;
		background: #2F2F2F;
		height: 38px;
	}
	.right-ft-img p a.dec{color: #95A087;font-size: 12px;}
	.right-ft-img p a.dec:hover{color:#95A087; }
	.right-ft-img p a:hover{color: #fff;text-decoration: underline;}
	.right-ft ul{margin-top: 25px;}
	.right-ft ul li{height: 50px; margin-bottom: 20px;}
	.right-ft li img{width:80px;height: 50px;}
	.right-ft li div{width:160px;height: 50px;bline-height: 16px; font-size: 12px;}
	.right-ft li div a:hover{text-decoration: underline;}
	.right-ft li div a.up{color:#828282;}
	.right-ft li div a.down{color: #B1B1B1;}
/*主题部分样式结束*/

