/*banner部分样式开始*/
	.banner{
		height: 499px;
		/*border:1px solid red;*/
		overflow: hidden;
		position: relative;
	}
	.banner img{
		position: absolute;
		width:1920px;
		height: 499px;
		left: 50%;
		margin-left: -960px;
	}
	.banner .searchArea{
		width: 348px;
		height: 36px;
		border:2px solid #DFDFDF;
		position: absolute;
		bottom:26px;
		left: 50%;	
		background: #fff;
		padding-right: 10px;
		margin-left: -180px;
		border-radius: 4px;
	}
	.banner input{
		display: block;
		width: 316px;
		height: 36px;
		line-height: 36px;
		float: left;
		color: #A2A1A1;
		outline: none;
		padding-left: 10px;
	}
	.banner .sechBtn{
		width: 22px;
		height: 22px;
		margin-top:8px;
		float: right;
		cursor: pointer;
		background: url(../images/method/method_images.png) no-repeat 0 0 ;
	}
/*banner部分样式结束*/


/*热门主题部分样式开始*/
	.theme{
		height: 626px;
		background: #000;
		padding-top: 36px;
		/*border:1px solid red;*/
	}
	.theme h2{
		text-indent: -9999px;
		width:130px;
		height: 60px;
		margin: 0 auto 30px;
		background: url(../images/method/method_images.png) no-repeat 0 -36px;
	}
	.theme ul{
		width: 1049px;
		/*border:1px solid red;*/
		margin: 0 auto;
	}
	.theme li{
		width:346px;
		height: 230px; 
		float: left;
		margin-bottom: 6px;
		position: relative;
	}
	.theme li.middle{margin: 0 5px;}
	.theme em{
		font-style: normal;
		position: absolute;
		width: 100%;
		height: 140px;
		top: 0;
		left: 0;
		color: #fff;
		text-align: center;
		padding-top: 90px;
		background: url(../images/method/method_fix.png) no-repeat;
		_cursor: pointer;
		display: none;
	}
	.theme em span{
		color: #62EDFE;
		font-size: 22px;
	}
	/*.theme li a:hover em{display: none;}*/
/*热门主题部分样式结束*/


/*热门待法和机构类别部分样式开始*/
	.wrap{
		width: 100%;
		height: 465px;
		background: url(../images/method/method_block2.jpg) no-repeat;
		padding-top: 70px;
	}
	.inWrap{
		width:1049px;
		margin:0 auto;
		/*border:1px solid red;*/
	}
	.hot{
		width:670px;
		height: 380px;
		overflow: hidden;
		/*border:1px solid red;*/
		position: relative;
	}
	.hot-hd{
		/*border:1px solid red;*/
		padding:14px 20px 0;
		height: 60px;
		position: relative;
		background: url(../images/method/ft_bg.png);
	}
	.hot-hd h2{
		text-indent: -9999px;
		width:95px;
		height: 43px;
		background: url(../images/method/method_images.png) no-repeat 0 -208px;
	}
	.hot-hd .wenZi{
		height: 50px;
		width:500px;
		/*border:1px solid red;*/
		color: #B3B3B3;
		font-size: 13px;
		text-align: right;
		position: relative;

	}
	.hot-hd .wenZi li{
		position: absolute;
		top:0;
		right:0;
		height: 50px;
		display: none;
	}
	.hot-hd .wenZi .bigZi{
		font-family: "宋体";
		font-size: 22px;
	}
	.hot ul{
		width:670px;
		position: absolute;
		left: 0;
	}
	.hot ul li{position: absolute; top:0; left:0; display: none;}
	.hot li a{display: block;}
	.hot img{width:670px;height: 306px;}
	.hot ol{
		height: 16px;
		position: absolute;
		bottom:16px;
		left: 50%;
		margin-left: -28px;
		/*border:1px solid red;*/
	}
	.hot ol li{
		margin: 4px 2px;
		width:8px;
		height: 8px;
		_font-size: 0;
		border-radius: 4px;
		background: #fff;
		float: left;

		cursor: pointer;
	}
	.hot ol li.current{
		margin: 0 2px;
		width:16px;
		height: 16px;
		border-radius: 8px;
	}
	.institution{
		width:352px;
		height: 380px;
		/*border:1px solid blue;*/
	}
	.institution h2{margin: 0 auto; background-position: 0 -266px;}
	.institution ul{
		height: 306px;
		background: #F9F9F9;
	}
	.institution ul li{
		width:175px;
		height: 100px;
		float: left;
		text-align: center;
		border-right: 1px dotted #D4D4D4;
		border-bottom: 1px dashed #C5C5C5;
		position: relative;
		cursor: pointer;
		
	}
	.institution .li05,.institution .li06{border-bottom: none;}
	.institution ul .li01{
		background: url(../images/method/method_li1.png) no-repeat center 20px;
	}
	.institution ul .li01:hover{background-image: url(../images/method/method_li1Hov.png);}
	.institution ul .li02{
		background: url(../images/method/method_li2.png) no-repeat center 20px;
	}
	.institution ul .li02:hover{background-image: url(../images/method/method_li2Hov.png);}
	.institution ul .li03{
		background: url(../images/method/method_li3.png) no-repeat center 20px;
	}
	.institution ul .li03:hover{background-image: url(../images/method/method_li3Hov.png);}
	.institution ul .li04{
		background: url(../images/method/method_li4.png) no-repeat center 20px;
	}
	.institution ul .li04:hover{background-image: url(../images/method/method_li4Hov.png);}
	.institution ul .li05{
		background: url(../images/method/method_li5.png) no-repeat center 20px;
	}
	.institution ul .li05:hover{background-image: url(../images/method/method_li5Hov.png);}
	.institution ul .li06{
		background: url(../images/method/method_li6.png) no-repeat center 20px;
	}
	.institution ul .li06:hover{background-image: url(../images/method/method_li6Hov.png);}
	.institution ul li a{
		position: absolute;
		top:0;
		left:0;
		height: 80px;
		color: #62EDFE;
		display: block;
	}
	.institution ul img{
		display: block;
		margin: 0 auto;
	}
	.institution ul li span{
		padding-top: 70px;
		display: block;
		cursor: pointer;
		color: #313131;
	}
	.institution li.li02,.institution li.li04,.institution li.li06{border-right:none;}
/*热门待法和机构类别部分样式结束*/


/*国家列表部分样式开始*/
	.country{
		height: 965px;
		background: #F5F5F5;
		padding-top:40px;
	}
	.country h2{
		text-indent: -9999px;
		width:140px;
		height: 61px;
		margin: 0 auto 30px;
		background: url(../images/method/method_images.png) no-repeat 0 -123px;
	}
	.country ul{
		width:100%;
		height: 284px;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
		background:#ECECEC ;
	}
	.country ol{
		width:1124px;
		margin: -284px auto 0;
		/*border:1px solid red;*/
		position: relative;
		padding-top: 10px;
		background:url(../images/method/method_guojia.jpg) no-repeat top center;
	}
	.country ol li{width:224px;height:860px;float: left;}
	.country ol li div{
		height: 570px;
		padding-top: 16px;
		margin-top: 273px;
		/*border:1px solid red;*/
	}
	.country ol li a{display:inline-block; margin-left: 80px; line-height:33px ;color: #7D7D7D;}
	.country ol li a:hover{color: #50CADC;text-decoration: underline;}
	.country ol li:hover div{background:#ECECEC;margin-top: 0;padding-top: 16px;}
	.country ol li:hover h3{display: block;}
	.country ol h3{
		width: 152px;
		height: 150px;
		margin: 0 auto 123px;
		background: url(../images/method/continents.png) no-repeat 0 0;
		cursor: pointer;
		display: none;
	}
	.country ol .li02 h3{background-position: 2px -159px;}
	.country ol .li03 h3{background-position: 2px -316px;}
	.country ol .li04 h3{background-position: 2px -474px;}
	.country ol .li05 h3{background-position: 3px -630px;}
/*国家列表部分样式结束