@charset "utf-8";

body,div,ul,li,h1,h2,h3,h4,h5,code,input,button,p,textarea,dl	{margin:0; padding:0; list-style:none;}
body	{font-family:'Helvetica Neue','Hiragino Sans GB',Verdana; font-size:14px; background:#ECEEF1;}
input,select,textarea	{padding:10px; font-size:14px; outline:0; background-color:#EEE; border:0; border-radius:4px;}
input:focus {background:rgba(238,238,238,0.9);}
textarea	{width:100%; resize:none; display:block;}
img			{border:none; vertical-align:middle;}
code		{background:#1D2031; color:#FFF; padding:8px; display:block; border-radius:4px;}
em			{font-size:12px; font-style:normal; color:#999;}
strong		{color:#000;}
a			{text-decoration:none; color:#6A7E9F;}
a:hover		{text-decoration:underline;}
h1,h2,h3,h4,h5	{font-weight:normal; font-family:'Lucida Grande','Microsoft Yahei',STHeiti; word-wrap:break-word;}
h1			{font-size:20px; padding:0 0 10px;}
h2			{font-size:16px; padding:0 0 12px;}
h3			{font-size:14px; margin:0 0 10px;}
h4			{margin-bottom:10px; background:#E6EBFA url('images/h4.png') no-repeat left center; clear:both; height:24px; text-align:right; color:#6A7E9F; font-size:13px; line-height:24px; padding-right:10px;}
h4 span		{background:white; float:left; height:24px; padding:0 14px; color:#666; margin-left:20px; font-size:18px;}
h4 a		{font-size:13px; color:#6A7E9F; line-height:24px;}
h5			{height:48px; line-height:48px; padding-left:10px; background-color:white; font-size:14px; margin:0 30px 30px 0; clear:both;}
p			{padding-bottom:10px;}
label		{width:100px; float:left; font-size:12; color:#999;}

/* ---- something ---- */
.l			{float:left;}
.r			{float:right;}
.fr         {float:right;text-align: right;}
.oh			{overflow:hidden;}
.inner		{width:1040px; margin:0 auto; clear:both;}
.min-inner	{width:700px; margin:140px auto; clear:both;}
.box		{background:#FFF; margin-bottom:30px;}
.none		{border:2px dashed #DDD; color:#CCC; margin:20px; padding:15px; border-radius:4px;}
.hd			{padding:15px 40px; color:#999; font-size:16px; background:url('images/list.gif') no-repeat 15px; border-bottom:1px solid #DDD;}
.colorbox	{display:block; width:14px; height:14px; border:1px solid #666; border-radius:16px;}
.small		{font-size:11px;}
.clear		{clear:both;}
.mt10		{margin-top:10px;}
.mg10		{margin:10px;}
.pr20		{padding-right:20px;}
.pd10		{padding:10px;}
.pd20		{padding:20px;}
.font12		{font-size:12px;}
.mb10		{margin-bottom:10px;}
.ml64		{margin-left:64px;}
.ml150		{margin-left:150px;}
.ml180		{margin-left:180px;}
.lh180		{line-height:180%;}
.avatar		{position:absolute;top:148px;width:250px;height:40px;background-color:rgba(0,0,0,0.8);display:none;}
.badge		{background-color:#B94A48; color:white; padding:2px 6px; display:inline-block; border-radius:8px; line-height:normal;}
.badge-info {background-color:#3a87ad;}
.badge-success	{background-color:#659f13;}


/* ---- list ---- */
.list li		{padding:5px;}
.list dl		{padding:0 10px; border-bottom:1px solid #F3F3F3; clear:both;}
.list dt		{float:left; padding-top:12px; color:#999;}
.list dd		{margin-left:60px; color:#F0F0F0;}
.list dd a		{display:inline-block; padding:4px 6px; margin:10px 0;}
.list dd a.active	{background-color:#6A7E9F; color:white;}
.post li		{padding:15px; border-bottom:1px solid #EEE;}
.post h2 a		{color:#333;}
.booklist		{clear:both; padding:10px 0; overflow:hidden;}
.booklist li	{float:left; width:152px; height:220px; padding:15px 0; text-align:center;}
.booklist li a.cover{display:block; width:130px; height:185px; margin:0 auto 10px; overflow:hidden;}
.booklist li a.cover img{width:130px; height:185px;}
.booklist li a.ava		{display:block; width:130px; margin:0 auto; height:140px;}
.booklist li a.ava img{width:130px; height:130px;}
.booklist a.ava:hover img	{width:140px; height:140px;}
.booklist a.cover:hover{
	-webkit-transform:rotate(5deg);
	-webkit-transition:-webkit-transform 0.1s linear,box-shadow 0.1s linear;
	-moz-transform:rotate(5deg);
	-moz-transition:-moz-transform 0.1s linear,box-shadow 0.1s linear;
	transform:rotate(5deg);
	transition:transform 0.1s linear,box-shadow 0.1s linear
}

/* ---- table ---- */
thead td	{font-size:12px; background-color:#F6F6F6; color:#999;}
td		{border-bottom:1px solid #ddd;}

/* ---- wrap ---- */
.main	{width:780px;}
.side	{width:240px;}
.content img	{max-width:100%;}

/* ---- header ---- */
.header			{position:fixed; z-index:999; top:0; width:100%; background:#212433; height:56px; line-height:56px;}
.header ul		{display:block; font-size:18px;}
.header ul li	{position:relative; float:left;}
.header ul li a			{display:block; padding:0 14px; color:#F9F1E7;}
.header ul li a:hover,.header ul li a.active	{text-decoration:none; color:white; background-color:#393d52;}
.header .logo	{display:block; background:url('images/logo.png') no-repeat left center; width:130px; height:56px; overflow:hidden; float:left;}
.header input	{border-radius:4px; padding:5px;}
.header .signin	{background:url('images/signin.png') no-repeat 10px center; padding-left:30px;}
.header .signup	{background:url('images/signup.png') no-repeat 10px center; padding-left:30px;}

/* ---- banner ---- */
.banner		{clear:both; min-width:1040px; height:410px; background:#000 url('images/banner.png') no-repeat center; color:white;}
.banner .toptext	{width:1024px; margin:0 auto; padding-top:70px; position:relative;}
.banner .toptext .homevideo	{display:block; width:80px; height:80px; position:absolute; right:120px; top:150px; background:url('images/player.png') no-repeat;}
.banner .toptext .homevideo:hover	{background-position:0 -80px;}
.banner .toptitle	{font-size:36px;}
.banner .topurl		{font-size:18px;}
.banner p	{font-size:16px; line-height:32px;}
.banner .join	{background:url('images/join.png') no-repeat center; width:223px; height:60px; display:block;}

.dropdown a.arr-down	{padding-right:18px; background:url('images/arrow.gif') no-repeat right center;}
.dropdown ul		{position:absolute; display:none; z-index:999; width:140px; background-color:#111;}
.dropdown ul li		{margin:0; float:none; white-space:nowrap;}
.dropdown ul li a	{color:#999;}
li.hover	{background-color:#111;}

/* ---- index ---- */
.indexleft	{float:left; width:600px;}
.indexright	{float:right; width:340px;}
.indexright ul.type li {margin:0; margin-top:24px; float:left;}
.indexright ul.type li:nth-child(odd){margin-right:22px;}
.indexbottom	{text-align:center; padding:20px 0 10px;}
.indexbottom img{margin:10px;}
.indextext	{font-size:18px; text-align:center; font-style:italic; color:#6A7E9F; padding:20px 0 10px;}

/* ---- nav ---- */
.nav			{display:block; height:48px; line-height:48px; background-color:white; border-bottom:2px solid #D8DEEF;}
.nav span		{line-height:normal;}
.nav li			{position:relative; float:left;}
.nav li.r		{float:right;}
.nav li em		{display:block; padding:0 8px 0 16px; color:#AAA;}
.nav li a			{display:block; padding:0 18px; color:#999;}
.nav li a:hover		{background-color:#D8DEEF; text-decoration:none;}
.nav li.active a	{font-weight:bold; color:#6A7E9F;}
.nav li a.arr-down	{padding-right:20px; background:url('images/arrow.gif') no-repeat right center;}
.nav li.hover	{background-color:rgba(0,0,0,0.9);}
.nav li ul		{position:absolute; left:0; display:none; z-index:999; width:120px; background-color:#111;}
.nav li ul li	{margin:0; float:none; white-space:nowrap;}
.nav li ul li a	{color:#999;}

/* ---- sign ---- */
.sign	{background:url('images/sign.jpg') no-repeat center; color:white; text-align:center; padding:60px 200px;}
.sign h1	{text-shadow:1px 1px 2px #333;}
.chantadd	{background-color:#D8DEEF;}

/* ---- pages ---- */
.page		{clear:both; overflow:hidden;}
.page li	{float:left; margin:4px 4px 4px 0;}
.page li a	{display:block; padding:6px 12px; font-size:12px; background-color:#EEE; color:#00a8e6;}
.page li a:hover	{background-color:#00a8e6; color:#FFF; text-decoration:none;}
.page li.disabled a	{background:none; cursor:default;}
.page li.active a	{background-color:#00a8e6; color:#FFF;}

/* ---- ico ---- */
.ico			{padding-left:16px; margin-right:12px; font-size:12px; color:#BBB;}
.ico a			{color:#999;}
.ico a:hover	{color:#555; text-decoration:none;}
.ico-comment	{background:url('images/ico-comment.png') no-repeat left center;}
.ico-view		{background:url('images/ico-view.png') no-repeat left center;}
.ico-date		{background:url('images/ico-date.png') no-repeat left center;}
.ico-thank		{background:url('images/ico-thank.png') no-repeat left center;}
.ico-edit		{background:url('images/ico-edit.png') no-repeat left center;}

.icob			{padding:2px 0 2px 24px; margin-right:12px; font-size:12px; color:#BBB;}
.icob a			{color:#333;}
.icob-img		{background:url('images/ico-img.png') no-repeat;}
.icob-audio		{background:url('images/ico-audio.png') no-repeat;}
.icob-video		{background:url('images/ico-video.png') no-repeat;}
.icob-link		{background:url('images/ico-link.png') no-repeat;}

/* ---- some node ---- */
.node	{font-size:12px; padding:3px 6px; margin-right:5px; border-radius:3px; background-color:#F7F7F7; color:#999; display:inline-block;}
.node:hover	{background-color:#6A7E9F; color:white; text-decoration:none;}

.bookmark	{font-size:12px; padding:3px 6px; margin-right:5px; border-radius:3px; background-color:#212433; color:#E8E0D8; display:inline-block;}
.bookmark:hover	{background-color:#E8E0D8; color:#212433; text-decoration:none;}

.reply{color:#fff; background:#6A7E9F; border-radius:3px; padding:5px 8px;}

/* ---- Text ---- */
.text-success	{color:#659f13;}
.text-info		{color:#3a87ad;}
.text-warning	{color:#c09853;}
.text-error		{color:#b94a48;}
.text-strong	{color:#333;}

/* ---- Alert ---- */
.alert-success	{color:#659f13; background-color:#f2fae3;}
.alert-info		{color:#3a87ad; background-color:#E6EBFA;}
.alert-warning	{color:#c09853; background-color:#faf8f0;}
.alert-error	{color:#b94a48; background-color:#fdf7f7;}
.alert-shadow	{color:#FFF; background-color:black;}

/* ---- some button ---- */
button	{border:none; cursor:pointer; outline:0;}
.btn	{font-size:14px; height:48px; line-height:48px; padding:0 18px; border:none; background:none; color:white; cursor:pointer; outline:0; border-radius:4px}
.btn			{background-color:#3498DB;}
.btn-sign		{background-color:#6A7E9F; display:block; width:100%; font-size:16px;}
.btn-link		{background:none; color:#999; padding:0; font-size:12px; height:auto; line-height:normal;}
.btn-link:hover	{color:#555;}
.btn-small	{height:28px; line-height:28px; padding:0 12px;}
.btn-detail	{height:120px; width:200px; text-align:center; line-height:120px; color:white; font-size:22px; background:#3498DB;}
.btn-disable,.btn-disable:hover		{background-color:#999; color:#FFF;}
.btn-error			{background-color:#da314b;}
.btn-success		{background-color:#8cc14c;}
.btn-warning		{background-color:#f2c230;}
.btn-search			{position:absolute; right:0px; top:11px; width:36px; height:36px; background:url('images/search.png') no-repeat center;}

/* ---- footer ---- */
.footer			{width:100%; clear:both; font-size:13px; color:#AAA; background-color:#DEE0E5; min-width:1040px;}
.footer .inner	{padding:20px 0; color:#B9BFD1;}

/* ---- bottom ---- */
.bottom {position:fixed; width:100%; z-index:999; bottom:0; background:rgba(0,0,0,0.6); display:none;}
.bottom .btn-bottom {color:#666; padding:6px 12px; background:#eee; border-radius:5px; margin-right:15px; font-size:14px;}
.bottom .btn-bottom:hover {background:#fff; text-decoration:none}
.bottom-container {margin:16px auto 13px auto; width:610px; height:37px}
.social-btn		{margin:0 42px 0 0; width:360px; height:37px;}
.social-btn p	{width:170px; padding:11px 18px 10px 0; color:#fff; font-size:16px; line-height:16px;}
.social-btn a	{display:block; margin:0 14px 0 0; width:37px; height:37px; background:url('images/social_sprites.png')}
.social-btn .weibo	{background-position:0 -933px}
.social-btn .douban	{background-position:-50px -933px}
.social-btn .qq		{background-position:-100px -933px}

/* ---- back2top ---- */
.go2top_position {position:fixed; top:550px; left:50%; margin:0 0 0 550px; width:60px; height:auto; text-align:center; padding:5px 0; z-index:10;}
.go2top_position .go2top {
	margin:15px 0; height:50px; width:auto; display:block;
	background:url('images/icon_top.png') center no-repeat,#ddd;
}
.go2top_position .go2top:hover {
	background:url('images/icon_top.png') center no-repeat,#ccc;
}

/**表情控件样式**/
span.emotion{width:42px; height:20px; background:url(/View/images/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
span.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}

.clicker {
  border: 5px dashed #FDFDFD;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.85);
  display: inline-block;
  margin-top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #BBB;
  width: 200px;
  height: 200px;
  opacity: 1;
}

.clicker:hover{
    -webkit-transition: all .6s;
    border-color: #808080;
	cursor:pointer;
	opacity:0.7;
}

.balance_area {
  color: #000;
  font-size: 11px;
  line-height: 16px;
  padding: 5px 10px 5px 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #666;
  text-shadow: 0px 1px 0px white;
  display: inline-block;
  margin: -4px -5px 0px 0px;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e2e2e2));
  background: -webkit-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
  background: linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e2e2e2',GradientType=0 );
}

.social_label:link, .social_label:visited {
  background-color: #f9f9f9;
  padding: 5px 15px 5px 6px;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
  margin: 0px 10px 10px 0px;
  border-radius: 20px;
  outline: none;
}

.social_label:hover {
    background-color: #e9e9e9;
    outline: none;
}
