@charset "utf-8"; /* CSS Document */ 
/*css reset 开始*/ 
/*初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img{ border:none; }
img{display:block;}
li{list-style:none; }
a{ text-decoration:none;}
a:hover{text-decoration:none;}
body{color:#A0A0A0; background:#ECEEF1;font-size: 14px; font-family: "微软雅黑";} 
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
.clearfix{zoom: 1;}
.fl{float: left;}
.fr{float: right;}

/*====================== 这里是分割线 =====================*/

/*登录模态窗口简单模拟样式开始*/
	.Login{display: none;}
	.upLogin{
		width: 442px;
		height: 297px;
		position: fixed;
		top:50%;
		left:50%;
		z-index: 20;
		transform: translate(-50%,-50%);
		background: url(../images/index/login.png);
	}
	.upLogin .close{
		width:15px;
		height: 15px;
		position: absolute;
		top:12px;
		right:12px;
		cursor: pointer;
	}
	.upLogin .userName,.upLogin .passWord,.upLogin button{
		color: #A9A9A9;
		width: 230px;
		height: 30px;
		outline: none;
		border:1px solid #DFDFDF;
		position: absolute;
		top:107px;
		left:125px;
		border-radius: 2px;
		background: #fff;
	}
	.upLogin .userName,.up .passWord{padding-left: 8px;}
	.upLogin .passWord{
		top:147px;
	}
	.upLogin button{
		font-size: 14px;
		color: #fff;
		height: 34px;
		border: 1px solid #0D5D95;
		background: #1066A4;
		border-radius: 5px;
		cursor: pointer;
		top:187px;
	}
	.upLogin .instant,.upLogin .forget{
		position: absolute;
		top:234px;
		left:188px;
		width:50px;
		height: 18px;
		cursor: pointer;
	}
	.upLogin .forget{
		width:58px;
		left:298px;
	}
	.downLogin{
		width: 100%;
		height: 100%;
		position: fixed;
		top:0;
		left: 0;
		z-index: 19;
		background: #000;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
/*登录模态窗口简单模拟样式结束*/

/*头部样式开始*/

	.top{
		width:100%;
		height: 56px;
		background: #212433;
	}
	.header{
		width:1040px;
		height: 56px;
		margin: 0 auto;
		/*border:1px solid red;*/
	}
	.header h1{
		text-indent: -9999px;
		width:111px;
		height:48px;
		background: url(../images/index/logo.png) no-repeat; margin-top: 4px; margin-right: 20px;}
	.header h1 a{display: block;width:111px; height: 48px;}
	.header ul{
		width:340px;
		height:56px;
		/*border:1px solid red;*/
	}
	
	.header .oneNav{float: left; font-size: 17px;}
	.header .oneNav a{
		color:#F9F1E7;
		padding:0 15px;
		line-height: 56px;
		display: inline-block;
	}
	.header .current{
		background: #393D52;
	}
	.header .oneNav a:hover{background: #393D52;}
	.header .place{
		position: relative;
		z-index: 10;
	}
	.header .place:hover ol{display: block;}
	.header .place:hover{
		background: #111;
	}
	.header .place ol{
		background: #111;
		width:140px;
		position: absolute;
		top:56px;
		left:0;
		display: none;
	}
	.header .place ol li{
		height: 56px;
	}
	.header .place ol a{
		color: #999;
		display: block;
	}
	.header .place ol a:hover{color: #fff;}

	.header .header-R{width:345px;}
	.search{width: 180px;position: relative; margin-right: 20px; _display: inline;}
	.header input{
		width:175px;
		height: 26px;
		line-height: 26px;
		border-radius: 4px;
		padding-left: 5px;
		color: #A9A9A9;
		background: #EEEEEE;
		outline: none;
		margin-top: 17px;
		_display: inline;
	}
	.search s{position: absolute; top: 22px; right: 10px; background: url(../images/index/search.png) no-repeat; cursor: pointer; width: 16px; height: 16px; }
	.header-R a{
		display: block;
		font-size: 16px;
		color:#F9F1E7;
		/*border:1px solid red;*/
		line-height: 56px;
		height:56px;
		padding: 0 10px 0 30px;
		/*margin-left: 30px;*/
	}
	.login{background: url(../images/index/signup.png) no-repeat 10px center;}
	.register{background: url(../images/index/signin.png) no-repeat 10px center;}
	.header-R a.login:hover{background: #393D52 url(../images/index/signup.png) no-repeat 10px center;}
	.header-R a.register:hover{background: #393D52 url(../images/index/signin.png) no-repeat 10px center;}
/*头部样式结束*/

/*====================== 这里是分割线 =====================*/

/*底部关于我们和版权部分样式开始*/
	.footer{margin-top: 30px; height: 65px; background: #DEE0E5;}
	.inFooter{width: 1040px; margin: 0 auto;padding-top: 25px;}
	.inFooter a{color: #6A7E9F; font-size: 12px;}
	.inFooter a:hover{text-decoration: underline;}
	.inFooter ul li{float: left; }
	.inFooter em{font-style: normal;margin: 0 19px 0 14px; color: #C1BFD4;}
	.inFooter p{font-size: 12px; color: #B9BFD1}
/*底部关于我们和版权部分样式结束*/

