@charset "utf-8"; /* CSS Document */ 
/*css reset 开始*/ 
/*初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img{ border:none; }
img{display:block;}
li{list-style:none; }
a{ color:#fff; text-decoration:none;}
a:hover{ color:#50C8D7; text-decoration:none;}
body{color:#000; background:#fff;font-size: 12px; font-family: 'Microsoft Yahei','微软雅黑', \5FAE\8F6F\96C5\9ED1,'宋体',\5b8b\4f53,arial,'Hiragino Sans GB',Tahoma,Arial,Helvetica; } 
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
.clearfix{zoom: 1;}
.fl{float: left;}
.fr{float: right;}